<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
<section>
    <div id="EmailVerificationContainer">
        <h1>Email Verification</h1>
        <form>
            <input type="email" placeholder="Email" id="resetEmail" required>
            <div class="otp-section">
                <input type="text" placeholder="Email Verification Code" id="otp" required>
                <button type="button" onclick="sendOTP()">Send OTP</button>
            </div>
            <button type="button" onclick="window.location.href='/reset-password'">Confirm OTP</button>
        </form>
    </div>
</section>
<!-- <script src="script.js"></script> -->
</body>
</html>