{% extends "base.html" %}

{% block title %}Fortune Casino - Sign in or Sign up {% endblock %}


{% block body %}
<body>
  <section>
    <div id="SigninContainer">
      <h1>Log in </h1>
      <form id="signinForm" action="#" method="post">
        <input type="text" placeholder="Username" name="loginUsername" required>
        <input type="password" placeholder="Password" name="loginPassword" required>
        <button type="submit">Log In</button>
        <p>Don't have an account yet? <a href="/register">Create Account</a></p>
          <a href="/forgot-password">Forgot Password</a>
      </form>
    </div>
  </section>
</body>
{% endblock %}

