{% extends "base.html" %}

{% block title %}Sign up {% endblock %}


{% block body %}
<body>
  <section>
    <div id="CreateAccContainer">
      <h1>Create Account </h1>
      <form id="createaccForm" action="#" method="post">
        <input type="text" placeholder="First Name" name="firstName" required>
        <input type="text" placeholder="Last Name" name="lastName" required>
        <input type="number" placeholder="Age" name="age" required>
        <input type="date" placeholder="Birthday" name="birthday" required>
        <input type="email" placeholder="Email" name="email" required>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                    {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="otp-create">
        <input type="text" placeholder="Email Verification Code" name="otp" required>
        <button type="button" onclick="sendOTP()">Send OTP</button>
        </div>
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" required>
        <input type="checkbox" id="terms" required> I agree to the terms and conditions<br>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </section>
</body>
{% endblock %}

