{% extends "login/base-login.html" %}

{% block title %}Change Password {% endblock %}

{% block body %}
<section>
    <div id="ForgotPasswordContainer">
        <h1>Reset Password</h1>
        <form id="forgotPasswordForm">
            <input type="password" placeholder="New Password" id="newPassword" required>
            <input type="password" placeholder="Confirm New Password" id="confirmNewPassword" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</section>
{% endblock %}
