/* <------------------------ LANDING-PAGE --------------------------> */
.navbar-landing {
    display: flex;
    padding: 3px;
    align-items: center;
    background-color: orange;
    font-weight: 600;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000;
}
  
.nav-landing {
flex: 1;
    position: relative;
    text-align: right;
}

.nav-landing ul {
    display: inline-block;
    list-style-type: none;
}

.nav-landing ul li {
    display: inline-block;
    margin-right: 3rem;
}

.nav-landing ul li a {
    text-decoration: none;
    color:  #000;
}

.logo-landing {
    padding: 5px 0 0 40px;
    cursor: pointer;
}

.logo-landing img {
    width: 100%;
}

/* <------------------ FIRST-SECTION ---------------> */

#home {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
}
  
  
  
.home-box h1{
    text-align: left;
    color: orange;
    padding: 60px;
    font-size: 4rem;
}
  
.home-box {
    padding-right: 2rem;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    
}
  
.home-btn {
    /* width: 10rem; */
    padding: 2rem 5rem 2rem 5rem;
    border-radius: 50px;
    background-color: orange;
    border: none;
    outline: none;
    margin-left: 5rem;
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: larger;
    cursor: pointer;
}
  
/* <------------------- SECOND-SECTION -----------------> */
  
#promos {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}
  
.deal-container {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin: 2rem auto; 
    max-width: 150rem; 
}
  
.deal1, .deal2, .deal3 {
    flex-basis: calc(33.33% - 2rem); 
    padding: 1rem 2rem 5rem 2rem;
    border-radius: 12px;
    margin: 1rem; 
    background-color: #fff;
    border: 1px solid ;
}
  
.deals,
.payout,
.win-rate {
    text-align: center;
    margin: 1rem 0 1rem 0;
    white-space: nowrap;
}
  
.deal-btn {
    margin: 2rem 0 0 0 ;
    text-align: center;
}
.deal-btn a {
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 1rem;
    border-radius: 20px;
    font-weight: bolder;
}
  
.image img {
    width: 60%;
    margin-left: 3rem;
    white-space: nowrap;
}
  
  
/* <--------------------THIRD-SECTION & FOURTH-SECTION --------------------> */
  
#coins-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}
  
#coins-section h1 {
    text-align: center;
    margin: 0;
    padding: 20px; 
    color: gold;
    
}
  
#coins-section{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/sugal2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px; 
    box-sizing: border-box;
    overflow: hidden; 
}
  
.container-coins-games {
    position: relative; 
    width: calc(20% - 40px);
    margin: 10px;
    text-align: center; 
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /
}
  
.container-coins-games img {
    width: 100%; 
    border-radius: 20px; 
    transition: transform 0.3s ease;
    
}
  
.container-coins-games .label {
    position: absolute;
    bottom: 10px; 
    left: 0;
    width: 100%; 
    font-size: 1em; 
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 0; 
    transition: background-color 0.3s ease;
}
  
#coins-section .container-coins-games img {
    border-radius: 20px;
    max-width: 100%; 
    max-height: calc((100vh - 60px - 20px) / 2); 
    height: auto;
}
  
#coins-section > div {
    justify-content: center; 
}
  
#coins-section .container-coins-games {
    margin: 10px; 
    width: calc(20% - 30px); 
}
  
#coins-section .container-coins-games img {
    max-height: calc((100vh - 40px - 20px) / 2);
}
  
.container-coins-games:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
    border-radius: 20px;
}
  
.container-coins-games:hover img {
    transform: scale(1.1); 
}
  
.container-coins-games:hover .label {
    color: gold;
    background-color: rgba(0, 0, 0, 0.7); 
}
  
#games-section h1 {
    text-align: center;
    margin: 0;
    padding: 20px; 
    color: gold;
}
  
#games-section {
    width: 100%;
    min-height: 100vh;
    /* background-image: url(images/sugal3.jpg); */
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px; 
    box-sizing: border-box;
    overflow: hidden; 
}
  
#games-section .container-coins-games img {
    max-width: 100%; 
    max-height: calc((100vh - 80px - 40px) / 4); 
    height: auto;
}
  
#games-section > div {
    justify-content: center; 
}
  
#games-section .container-coins-games {
    margin: 5px;
    width: calc(20% - 40px);
    height: auto; 
}
  
#games-section .container-coins-games img {
    max-height: calc((100vh - 80px - 40px) / 4);
}

/* <------------------------- DASHBOARD -----------------------------> */


/* <------------------------- NAVBAR-DASHBOARD ---------------------------> */
.navbar {
    display: flex;
    padding: 3px;
    align-items: center;
    background-color: #15181b;
    font-size: 12px;
    flex-wrap: wrap;
}
  
nav {
    flex: 1;
    position: relative;
    text-align: left;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}
  
nav ul {
    display: inline-block;
    list-style-type: none;
    margin-left: -3rem;
}
  
nav ul li {
    display: inline-block;
    margin-right: 40px;
    margin-left: 1rem;
}
  
nav ul li a {
    text-decoration: none;
    color: #fff;
}
  
.logo {
    /* padding: 5px 0 0 100px; */
    position: relative;
    cursor: pointer;
    left: 1rem;
    text-align: center;
}
  
.logo img {
    width: 25%;
    position: relative;
}
  
.user-container {
    position: absolute;
    padding: 0.5rem;
    display: inline-flex;
    bottom: -1.2rem;
    right: 0%;
}
  
.coins-container {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0.1rem 0 0 0.5rem;
    border-radius: 25px;
    min-width: 9rem;
    max-width: calc(100% - 4rem);
    min-height: 2.8rem;
    max-height: calc(100% - 1rem);
    cursor: pointer;
}
  
/* .notification-container {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0.5rem 0 0 0.5rem;
    border-radius: 30px;
    width: 3rem;
    height: 2.8rem;
    cursor: pointer;
} */
  
.profile-container {
    position: relative;
    display: inline-block;
    /* background-color: #fff; */
    padding: 0.8rem 1rem;
    /* border-radius: 30px; */
    width: 15rem;
    height: 2.8rem;
    cursor: pointer;
    /* border: solid; */
}
  
.coins-container,
.profile-container {
    margin-right: 1rem;
}
  
/* .notification-container img {
    margin: -2px 0 0 0;
    width: 80%;
} */
  
.profile-container h1 {
    /* margin: -2px 0 0 0;
    width: 80%; */
    color: #fff;
    text-align: center;
}
  
.coins-container img {
    padding: 2px;
    width: 20%;
}
  
.coins-container h3 {
    text-align: center;
    margin: -2rem 3rem;
}
  
/* .notification-container h3 {
    color: red;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: -2.5rem 0 0 1rem; 
} */
/* .menu-img {
    margin-right: 2rem;
} */
  

/* <-------------------------- DASHBOARD-MENU ------------------> */
.dashboard-section {
    position: relative;
    width: 100vw;
    max-width: 100%;
    background-color: #212529;
    /* background-color: maroon; */
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
    height: 100vh;
    max-height: 90%;
}
  
.dashboard-menu {
    position: absolute;
    display: block;
    background-color: #05c451;
    padding: 3rem;
    min-width: 5rem;
    height: 77.6vh;
    max-height: 77.6vh;
    margin: 1.8rem 0 0 1rem;
    border-radius: 20px;
}
  
.dashboard-events {
    position: relative;
    max-width: 85%;
    background-color: #000;
    padding: 0.4rem;
    left: 10rem;
    min-height: 50%;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
}
  
.dashboard-winnings {
    position: relative;
    padding: 2rem;
    background-color: pink;
    min-width: 30%;
    min-height: 19.2%;
    border-radius: 25px;
}
  
.event-board {
    position: relative;
    padding: 2rem;
    background-color: blue;
    top: 1px;
    min-width: 69%;
    min-height: 19.2rem;
    border-radius: 25px;
    margin-right: 0.5rem;
}
  
.dashboard-games {
    position: relative;
    padding: 15px;
    background-color: #0b0e13;
    top: 0.7rem;
    left: 10rem;
    max-width: 85%;
    min-height: 10rem;
    margin: 1rem 0 0 0;
    border-radius: 25px;
    display: flex;
}
  
.h1-game {
    position: relative;
    top: 1rem;
    left: 10rem;
    font-size: 3rem;
    color: #fff;
}
  
.dashboard-games img {
    position: relative;
    left: 0.7rem;
    margin-right: 1rem;
    border-radius: 15px;
}
  
  
  
  /* <------------------- BUY-COINS -----------------> */
.buy-coins-section {
    width: 100%;
    padding: 2rem;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 1200px;
}
.coins-texts {
    position: relative;
    min-width: 30%;
    padding: 1.01rem;
    min-height: 50%;
    text-align: left;
}
  
.coins-texts img {
    position: relative;
    height: 100%;
    margin-bottom: -6.6rem;
    top: 3rem;
    right: 3.7rem;
}
  
.coins-wrapper {
    position: relative;
    max-width: 60%;
    background-color: #15181b;
    min-height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 12px;
    /* margin-top: 4rem; */
}
  
.coins-box {
    /* padding: 1px; */
    background-color: #15181b;
    margin-top: 1rem;
    width: calc(36.90% - 8rem);
    box-sizing: border-box; 
    border-radius: 12px;
    cursor: pointer;
}
  
.coins-box img {
    width: 100%;
    border-radius: 12px;
}
  
.coins-box .label {
    position: relative;
    bottom: 2rem; 
    width: 100%; 
    font-size: 1em; 
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s ease;
    text-align: center;
}
  
.coins-box:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
}
  
.coins-box:hover img {
    transform: scale(1.1); 
}
  
.coins-box:hover .label {
    color: gold;
    background-color: rgba(0, 0, 0, 0.7); 
}
  
  
  /* <--------------- POP-UP-COINS ----------------> */
  
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}
  
.popup-content {
    display: block;
    justify-content: center;
    background-color: #fefefe;
    text-align: center;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}
  
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    right: -0.5rem;
}
  
.popup-content img {
    margin-bottom: 12px;
    margin-right: -1rem;
    border-radius: 12px;
}
  
#amount {
    margin-bottom: 1rem;
}
  
  
  /* <------------------ PLAY-GAMES ----------------> */
  
  
#play-game-section {
    max-width: 100%;
    padding: 2rem;
    background-color: maroon;
    overflow: hidden;
}
  
.games-container {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center; 
}
  
.containersss {
    width: 100%; 
    max-width: 1250px; 
    height: auto; 
    border-radius: 10px;
    overflow: hidden; 
    text-align: center;
    margin-bottom: 1rem; 
}
  
.containersss img {
    border-radius: 12px;
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}
  
.below-container {
    padding: 2rem 0 2rem;
    background-color: #15181b;
    text-align: center;
    color: #fff;
}
  
.below-container .text {
    letter-spacing: 2px;
}
  
.top-container {
    padding: 2rem 0 0 0;
    background-color: #fff;
    text-align: center;
}
  
.top-container .text {
    letter-spacing: 2px;
    color: #000;
    font-weight: 800;
    font-size: 2rem;
}
  
  /* <-------------- GAMES-MENU ---------------> */
#games-menu {
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    background-color: #fff;
    max-height: auto;
}
  
.games-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    padding: 2rem 2rem 5rem 1rem;
    justify-content: center;
}
  
  .first-container,
.second-container {
    position: relative;
    width: 500px; 
    height: 300px; 
    border-radius: 20px;
    margin-top: 1rem;
}
  
  .third-container,
.fourth-container {
    position: relative;
    width: 500px; 
    height: 300px; 
    border-radius: 20px;
}
  
  .fifth-container,
.sixth-container {
    position: relative;
    width: 500px; 
    height: 300px; 
    border-radius: 20px;
}
  
  .first-container,
  .third-container,
.fifth-container {
    left: 3rem;
}
  .second-container,
  .fourth-container,
.sixth-container {
    right: 2rem;
}
  
  
  .first-container img,
  .second-container img,
  .third-container img,
  .fourth-container img,
  .fifth-container img,
.sixth-container img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
    cursor: pointer;
}
  
  .first-container img:hover,
  .second-container img:hover,
  .third-container img:hover,
  .fourth-container img:hover,
  .fifth-container img:hover,
.sixth-container img:hover {
    transform: scale(1.03); 
    
} 
  
  
  
  /* <---------------- OTHER-GAMES-SECTION --------------> */
#other-games {
    max-width: 100%;
    padding: 1rem;
    height: auto;
    background-color: #fff;
    flex-wrap: wrap;
    
}
  
.other-game-top-container {
    padding: 0 0 2rem 0;
    background-color: #fff;
    text-align: center;
}
  
.other-game-top-container .text {
    letter-spacing: 2px;
    color: #000;
    font-weight: 800;
    font-size: 2rem;
}
  
.other-games-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    padding: 2rem 2rem 5rem 1rem;
    justify-content: center;
}
  
  .seventh-container,
.eighth-container {
    position: relative;
    width: 500px; 
    height: 250px; 
    margin-bottom: -1rem;
}
  
  .seventh-container,
.nineth-container {
    left: 1rem;
}
  
  .eighth-container,
.tenth-container {
    left: 1.5rem;
}
  
  .nineth-container,
.tenth-container {
    position: relative;
    width: 500px; 
    height: 250px; 
    border-radius: 20px;
    /* border: solid; */
}
  
.vip-games-container {
    position: relative;
    width: 1000px; 
    height: 250px; 
    border-radius: 20px;
    left: 1.3rem;
    margin-top: -1rem;
}
  
  .seventh-container img,
  .eighth-container img,
  .nineth-container img,
  .tenth-container img,
.vip-games-container img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
    cursor: pointer;
    border-radius: 12px;
}
  
  .seventh-container img:hover,
  .eighth-container img:hover,
  .nineth-container img:hover,
  .tenth-container img:hover,
.vip-games-container img:hover{
    transform: scale(1.01); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
} 
  




/* <----------------- GAMES ------------------> */
/* <----------------------- Roll-'em-Dice -----------------------> */
  
.body-roll-dice {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background-color: #70c1b3;
}
  
.roll-btn-roll-em-dice {
      position: relative;
      top: 25rem;
      left: 37.5rem;
      padding: 15px 50px;
      color: #fff;
      background-color: #f4d35e;
      border: none;
      font-size: 20px;
      border-radius: 20px; 
      box-shadow: 1px 3px #50514F;
      outline: none;
      transition: .3s; 
}
  
.roll-btn-roll-em-dice:hover, .roll-btn-roll-em-dice:active {
      outline: none;
      background: #50514F;
      cursor: pointer;
      transform: translateY(15px); 
}
  
.container {
      position: relative;
      display: inline-block;
      top: 150px;
      left: 37rem;
}
  
.get-dice-number {
    /* display: flex; */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: solid; */
}
.guess-container-roll {
    box-sizing: border-box;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
}
  
.get-dice-number h1 {
    /* margin: 0 0 0 32rem; */
    color: #fff;
    font-size: 5rem;
}
  

.guess-dice-container {
    display: flex;
    justify-content: center;
    margin-top: -4rem;
}
.guess-wrapper {
    display: flex;
    justify-content: center;
}

.guess {
    display: flex;
    justify-content:center; 
    margin-left: 12px;
}

.guess img {
    width: 100px;
    border-radius: 12px;
    cursor: pointer;
}

.guess img:hover {
    transform: scale(1.01); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}
  
  /* <-------------------- COLOR-GAME --------------------> */
.body-color {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.roll-btn-color {
      position: relative;
      top: 25rem;
      left: 14.5rem;
      padding: 15px 50px;
      color: #fff;
      background-color: #f4d35e;
      border: none;
      font-size: 20px;
      border-radius: 20px; 
      box-shadow: 1px 3px #50514F;
      outline: none;
      transition: .3s; 
}
  
.roll-btn-color:hover, .roll-btn-color:active {
      outline: none;
      background: #50514F;
      cursor: pointer;
      transform: translateY(15px); 
}
  
.container-color {
      position: relative;    
      display: inline-block;
      top: 150px;
      left: 20rem;
}
  
  
  /* <---------- SIC-BO ----------> */
.body-sic {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background-color: #70c1b3;
}
.roll-btn-sic-bo {
      position: relative;
      top: 25rem;
      left: 12.5rem;
      padding: 15px 50px;
      color: #fff;
      background-color: #f4d35e;
      border: none;
      font-size: 20px;
      border-radius: 20px; 
      box-shadow: 1px 3px #50514F;
      outline: none;
      transition: .3s; 
}
  
.roll-btn-sic-bo:hover, .roll-btn-sic-bo:active {
      outline: none;
      background: #50514F;
      cursor: pointer;
      transform: translateY(15px); 
}
  
.container-sic-bo {
      position: relative;
      display: inline-block;
      top: 150px;
      left: 18rem;
}
  
  
  /* <-------- ROLL-EM-DICE & COLOR-GAME & SIC-BO --------> */
.game {
    position: relative;
    width: auto;
    height: 100%; 
}
  
.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 1s; 
}
  
.dot {
      position: absolute;
      width: 20px;
      height: 20px;
      margin: -10px 5px 5px -10px;
      border-radius: 20px;
      background-color: #f25f5c;
      box-shadow: inset 2px 2px #d90429;
}
  
.dice-one {
      position: absolute;
      left: 150px; 
}
  
.dice-two {
      position: absolute;
      left: -50px;
  
}
  
.dice-three {
      position: absolute;
      left: -250px;
}
  
.side {
      position: absolute;
      background-color: #ffF;
      border: radius 5px;
      width: 100px;
      height: 100px;
      border: 1px solid #e5e5e5;
      text-align: center; 
      line-height: 2em;
}
  
.side:nth-child(1) {
      transform: translateZ(3.1em); 
}
  
.side:nth-child(6) {
      transform: rotateY(90deg) translateZ(3.1em); 
}
  
.side:nth-child(3) {
      transform: rotateY(-90deg) translateZ(3.1em); 
}
  
.side:nth-child(4) {
      transform: rotateX(90deg) translateZ(3.1em); 
}
  
.side:nth-child(5) {
      transform: rotateX(-90deg) translateZ(3.1em); 
}
  
.side:nth-child(2) {
      transform: rotateY(-180deg) translateZ(3.1em); 
}
  
.show-1 {
      transform: rotateX(720deg) rotateZ(-720deg); 
}
  
.show-6 {
      transform: rotateX(-900deg) rotateZ(1080deg); 
}
  
.show-3 {
      transform: rotateY(-450deg) rotateZ(-1440deg); 
}
  
.show-4 {
      transform: rotateY(810deg) rotateZ(720deg);
}
  
.show-5 {
      transform: rotateX(-810deg) rotateZ(-1080deg); 
}
  
.show-2 {
      transform: rotateX(450deg) rotateZ(-720deg); 
}
  
@keyframes rollAnimation {
0% { transform: rotateX(0deg) rotateY(0deg); }
100% { transform: rotateX(360deg) rotateY(360deg); }
}
  
  /* <-------------- BEAT-THE-DEALER ----------------> */
.body-beat-the-dealer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* margin-top: 2rem; */
}
#higher {
    width: 100px;
    height: 50px;
    font-size: 20px;
}
  
#lower {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

/* <-------- POP-UP-GAME -------> */
.popup-game {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}
  
.popup-content-game {
    display: block;
    justify-content: center;
    background-color: #fefefe;
    text-align: center;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}
  
.close-game {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    right: 1rem;
}

#play-the-game {
    padding: 1rem 3rem;
    border-radius: 15px;
    border: none;
    color: black;
    background-color: orange;
    cursor: pointer;
}

#play-the-game:hover {
    color: white;
    background-color: rgb(204, 133, 2);
}

/* <------ POP-UP-BET ---------> */

.popup-bet {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}
  
.popup-content-bet {
    display: block;
    justify-content: center;
    background-color: #fefefe;
    text-align: center;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}
  
.close-bet {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    right: 1rem;
}

#play-the-game {
    padding: 1rem 3rem;
    border-radius: 15px;
    border: none;
    color: black;
    background-color: orange;
    cursor: pointer;
}

#play-the-game:hover {
    color: white;
    background-color: rgb(204, 133, 2);
}

.bet-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.bet-container img {
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.bet-container img:hover {
    transform: scale(1.02);
}

/* <------ POP-UP-DICE --------> */
.popup-dice {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}
  
.popup-content-dice {
    display: block;
    justify-content: center;
    background-color: #fefefe;
    text-align: center;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}
  
.close-dice {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    right: 1rem;
}

#play-the-game {
    padding: 1rem 3rem;
    border-radius: 15px;
    border: none;
    color: black;
    background-color: orange;
    cursor: pointer;
}

#play-the-game:hover {
    color: white;
    background-color: rgb(204, 133, 2);
}

.bet-wrapper-dice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.bet-container-dice img {
    width: 200px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: solid;
}

.bet-container-dice img:hover {
    transform: scale(1.02);
}

  
  /* <---------------- HIHGER-LOWER-CARD --------------> */
.body-higher-lower {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#higher {
    width: 100px;
    height: 50px;
    font-size: 20px;
}
  
#lower {
    width: 100px;
    height: 50px;
    font-size: 20px;
}
  
  /* <---------------- LUCKY-21 -----------------> */
.body-lucky {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
  /* <---------------- LUCKY-21 & BEAT-THE-DEALER & HIGHER-LOWER -------------> */
#dealer-cards img {
      height: 175px;
      width: 125px;
      margin: 1px;
}
  
#your-cards img {
      height: 175px;
      width: 125px;
      margin: 1px;
}
  
#hit {
      width: 100px;
      height: 50px;
      font-size: 20px;
}
  
#stay {
      width: 100px;
      height: 50px;
      font-size: 20px;
}
  
  /* <-------------------- Flip-Coin ------------------> */
.body-coin {
    height: 100%;
    background: linear-gradient(
        to right,
        #575ce5 50%,
        #f9fbfc 50%
    ) fixed;
    font-family: "Rubik",sans-serif;
    /* margin-top: 2rem; */
}
.container-flip {
      background-color: #ffffff;
      width: 400px;
      padding: 50px;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
      border-radius: 10px;
      -webkit-perspective: 300px;
      perspective: 300px;
}
.stats{
      text-align: right;
      color: #101020;
      font-weight: 500;
      line-height: 25px;
}
.coin{
      height: 150px;
      width: 150px;
      position: relative;
      margin: 50px auto;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
}
.coin img{
      width: 145px;
}
.heads,.tails{
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
}
.tails{
      transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
          transform: rotateX(0);
    }
    100%{
          transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
          transform: rotateX(0);
    }
    100%{
          transform: rotateX(2160deg);
    }
}
.buttons{
      display: flex;
      justify-content: space-between;
}
.btn{
      width: 120px;
      padding: 10px 0;
      border: 2.5px solid #424ae0;
      border-radius: 5px;
      cursor: pointer;
}
#flip-button{
      background-color: #424ae0;
      color: #ffffff;
}
#flip-button:disabled{
      background-color: #e1e0ee;
      border-color: #e1e0ee;
      color: #101020;
}
#reset-button{
      background-color: #ffffff;
      color: #424ae0;
}
  
  
  
  
  /* <------------------ ROCK-PAPER-SCISSORS ----------------> */
  /* Import Google font - Poppins */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.body-rock-paper {
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
    font-family: "Montserrat", sans-serif;
}
::selection {
      color: #fff;
      background-color: #7d2ae8;
}
.container-rock-paper {
      padding: 2rem 7rem;
      border-radius: 14px;
      background: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      margin: 8rem 10rem 0 10rem;
}
.result_images {
      display: flex;
      column-gap: 7rem;
      justify-content: center;
}
.container-rock-paper.start .user_result {
      transform-origin: left;
      animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
    50% {
        transform: rotate(10deg);
    }
}
    
.container-rock-paper.start .cpu_result {
      transform-origin: right;
      animation: cpuShake 0.7s ease infinite;
}
@keyframes cpuShake {
    50% {
        transform: rotate(-10deg);
    }
}
.result_images img {
      width: 100px;
      
}
.user_result img {
      transform: rotate(90deg);
}
.cpu_result img {
      transform: rotate(-90deg) rotateY(180deg);
}
.result {
      text-align: center;
      font-size: 2rem;
      color: #7d2ae8;
      margin-top: 1.5rem;
}
    
.option_image img {
      width: 50px;
}
.option_images {
      display: flex;
      align-items: center;
      margin-top: 2.5rem;
      justify-content: space-evenly;
}
.container-rock-paper.start .option_images {
      pointer-events: none;
}
.option_image {
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.3s ease;
}
.option_image:hover {
      opacity: 1;
}
.option_image.active {
      opacity: 1;
}
.option_image img {
      pointer-events: none;
}
.option_image p {
      color: #7d2ae8;
      font-size: 1.235rem;
      margin-top: 1rem;
      pointer-events: none;
}
  
  
  
  
    /* <----------------- HANG-THE-DEALER -------------------> */
    /* Importing Google font - Open Sans */
  /* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"); */
.body-hang {
    /* display: flex; */
    /* padding: 0 10px; */
    /* align-items: center; */
    justify-content: center;
    max-height: 100vh;
    background: #5E63BA;
    font-family: "Open Sans", sans-serif;
}
.container-hang-dealer {
    display: flex;
    width: 850px;
    gap: 70px;
    padding: 60px 40px;
    background: #fff;
    border-radius: 10px;
    /* align-items: flex-end; */
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    margin: 5rem 0 0 25rem;
}
.hangman-box img {
      user-select: none;
      max-width: 270px;
}
.hangman-box h1 {
      font-size: 1.45rem;
      text-align: center;
      margin-top: 20px;
      text-transform: uppercase;
}
.game-box .word-display {
      gap: 10px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
}
.word-display .letter {
      width: 28px;
      font-size: 2rem;
      text-align: center;
      font-weight: 600;
      margin-bottom: 40px;
      text-transform: uppercase;
      border-bottom: 3px solid #000;
}
.word-display .letter.guessed {
      margin: -40px 0 35px;
      border-color: transparent;
}
.game-box h4 {
      text-align: center;
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 15px;
}
.game-box h4 b {
      font-weight: 600;
}
.game-box .guesses-text b {
      color: #ff0000;
}
.game-box .keyboard {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      margin-top: 40px;
      justify-content: center;
}
:where(.game-modal, .keyboard) button {
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 4px;
      text-transform: uppercase;
      background: #5E63BA;
}
.keyboard button {
      padding: 7px;
      width: calc(100% / 9 - 5px);
}
.keyboard button[disabled] {
      pointer-events: none;
      opacity: 0.6;
}
:where(.game-modal, .keyboard) button:hover {
      background: #8286c9;
}
.game-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      background: rgba(0,0,0,0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      padding: 0 10px;
      transition: opacity 0.4s ease;
}
.game-modal.show {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.4s 0.4s ease;
}
.game-modal .content {
      padding: 30px;
      max-width: 420px;
      width: 100%;
      border-radius: 10px;
      background: #fff;
      text-align: center;
      box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.game-modal img {
      max-width: 130px;
      margin-bottom: 20px;
}
.game-modal img[src="images/victory.gif"] {
      margin-left: -10px;
}
.game-modal h4 {
      font-size: 1.53rem;
}
.game-modal p {
      font-size: 1.15rem;
      margin: 15px 0 30px;
      font-weight: 500;
}
.game-modal p b {
      color: #5E63BA;
      font-weight: 600;
}
.game-modal button {
      padding: 12px 23px;
}
  
@media (max-width: 782px) {
    .container-hang-dealer {
          flex-direction: column;
          padding: 30px 15px;
          align-items: center;
    }
    .hangman-box img {
          max-width: 200px;
    }
    .hangman-box h1 {
          display: none;
    }
    .game-box h4 {
          font-size: 1rem;
    }
    .word-display .letter {
          margin-bottom: 35px;
          font-size: 1.7rem;
    }
    .word-display .letter.guessed {
          margin: -35px 0 25px;
    }
    .game-modal img {
          max-width: 120px;
    }
    .game-modal h4 {
          font-size: 1.45rem;
    }
    .game-modal p {
          font-size: 1.1rem;
    }
    .game-modal button {
          padding: 10px 18px;
    }
}
    
  
  
  
  /* <--------------------------MEMORY-GAME -------------------------> */
  /* Import Google Font - Poppins */
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
#p {
    font-size: 20px;
}
.body-memory{
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    max-height: 100vh; */
    background: #6563ff;
    font-family: 'Poppins', sans-serif;
}
::selection{
    color: #fff;
    background: #6563ff;
}
.wrapper{
    padding: 25px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    max-width: 26rem;
    margin: 5rem 0 0 30rem;
}
.cards, .card, .view, .details, p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 350px;
    width: 350px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card{
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}
.card.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
0%, 100%{
      transform: translateX(0);
}
20%{
      transform: translateX(-13px);
}
40%{
      transform: translateX(13px);
}
60%{
      transform: translateX(-8px);
}
80%{
      transform: translateX(8px);
}
}
.cards .card .view{
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    background: #fff;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card .front-view img{
    max-width: 17px;
}
.card .back-view{
    transform: rotateY(-180deg);
}
.card .back-view img{
    max-width: 40px;
}
.card.flip .front-view{
    transform: rotateY(180deg);
}
.card.flip .back-view{
    transform: rotateY(0);
}
  
.details{
    width: 100%;
    margin-top: 15px;
    padding: 0 20px;
    border-radius: 7px;
    background: #fff;
    height: calc(100% / 4 - 30px);
    justify-content: space-between;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.details p{
    font-size: 18px;
    height: 17px;
    padding-right: 18px;
    border-right: 1px solid #ccc;
}
.details p span{
    margin-left: 8px;
}
.details p b{
    font-weight: 500;
}
.details button{
    cursor: pointer;
    font-size: 14px;
    color: #6563ff;
    border-radius: 4px;
    padding: 4px 11px;
    background: #fff;
    border: 2px solid #6563ff;
    transition: 0.3s ease;
}
.details button:hover{
    color: #fff;
    background: #6563ff;
}
  
@media screen and (max-width: 700px) {
.cards{
      height: 350px;
      width: 350px;
}
.card .front-view img{
      max-width: 16px;
}
.card .back-view img{
      max-width: 40px;
}
}
  
@media screen and (max-width: 530px) {
.cards{
      height: 300px;
      width: 300px;
}
.card .back-view img{
      max-width: 35px;
}
.details{
      margin-top: 10px;
      padding: 0 15px;
      height: calc(100% / 4 - 20px);
}
.details p{
      height: 15px;
      font-size: 17px;
      padding-right: 13px;
}
.details button{
      font-size: 13px;
      padding: 5px 10px;
      border: none;
      color: #fff;
      background: #6563ff;
}
}
  
  
  
  /* <-------------------------- MAZE-GAME --------------------------> */
  
.html,
.body-maze {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#ee7752;
}
#mazeContainer {
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    top: 75px;
    opacity: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
}
#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 1px black;
}
input,
select {
    transition-property: background-color opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}
input:hover,
select:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
input:active,
select:active {
    background-color: black;
}
input:focus,
select:focus {
    outline: none;
}
.custom-select {
    display: inline-block;
}
.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: 125px center;
}
#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
#Message-Container #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
#page {
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
}
#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}
#page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}
#page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}
.border {
    border: 1px black solid;
    border-radius: 5px;
}
    
    
@media only screen and (max-width: 400px) {
    input,
    select {
        width: 120px;
    }
}
  
  
  /* <------------------- MINESWEEPER-GAME -------------------> */
.body-mine {
    text-align: center;
}
#board-mine {
      width: 405px;
      height: 4405x;
      border: 10px solid darkgray;
      background-color: lightgray;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
}
  
#board-mine div {
      width: 48px;
      height: 48px;
      border: 1px solid whitesmoke;
  
      /* text */
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
}
  
.tile-clicked {
      background-color: darkgrey;
}
  
.x1 {
      color: blue;
}
  
.x2 {
      color: green;
}
  
.x3 {
      color: red;
}
  
.x4 {
      color: navy;
}
  
.x5 {
      color: brown;
}
  
.x6 {
      color: teal;
}
  
.x7 {
      color: black;
}
  
.x8 {
      color: gray;
}
  
#flag-button {
      width: 100px;
      height: 50px;
      font-size: 30px;
      background-color: lightgray;
      border: none;
}
  
  /* <--------------------- SPIN-THE-WHEEL --------------------> */
.body-spin {
    height: 100vh;
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
    font-family: "Poppins", sans-serif;
}
.wrapper-spin {
    width: 90%;
    max-width: 34.37em;
    max-height: 90vh;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    padding: 1em 5em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}
.container-spin-the-wheel {
    position: relative;
    width: 100%;
    height: 100%;
}
#wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
}
@keyframes rotate {
100% {
        transform: rotate(360deg);
}
}
#spin-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 26%;
    width: 26%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
    color: #c66e16;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
}
.img-spin {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -8%;
}
#final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #202020;
    font-weight: 500;
}
@media screen and (max-width: 768px) {
.wrapper {
        font-size: 12px;
}
.img-spin {
        right: -5%;
}
}
  
  
  /* <---------------------- BINGO ----------------------> */
.body-bingo {
    margin: 0;
    padding: 0;
    /* margin-top: 10px; */
    /* position: relative;
    bottom: -1rem; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
  
.body-bingo:focus {
    outline: none;
}
.container-bingo {
    width: 100vw;
    display: flex;
    justify-content: center;
}
  
#tblBingo {
    border-collapse: collapse;
    height: 25rem;
    width: 25rem;
    text-align: center;
    font-size: 22pt;
    cursor: pointer;
}
  
#tblBingo td {
    padding: 0.3rem;
}
  
.cell-format {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    border: 0.5px solid #cccece;
}
  
.cell-format:hover {
    background-color: #cccece;
}
  
.letter-div {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.letters-bingo {
    padding: 0 1.3rem;
    font-size: 40pt;
    display: none;
}
  
.strickout {
    text-decoration: line-through;
    color: #a6a3a3;
    font-size: 18pt;
    pointer-events: none;
}
  
.show-bingo {
    display: inline;
}
  
  
  /* <------------------- BRICK-BREAKER --------------------> */
.body-brick {
    text-align: center;
}
#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
}
  
  /* <--------------------------- SLOT-MACHINE ----------------------> */
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
  
.body-slot{
    background-color: #424242;
    font-family: 'Roboto', sans-serif;
}
.a{
    color: #283593;
    text-decoration: none;
}
.h3{
    margin-top: 12px;
}
  
main{
      border-radius: 5px;
      background-color: #EF5350;
      margin-top: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: calc((100% - 580px) / 2);
      width: 580px;
}
#status{
      margin-bottom: 25px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-radius: 5px;
      text-align: center;
      background-color: #37474F;
      color: #FFFFFF;
      font-size: 25px;
      font-family: 'Roboto Mono', monospace;
}
#Slots{
      border-radius: 15px;
      background-color: #FAFAFA;
}
#Gira{
      margin-top: 25px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-radius: 5px;
      text-align: center;
      background-color: #AB47BC;
      color: #FFFFFF;
      font-size: 25px;
}
#Gira:hover{
      background-color: #BA68C8;
}
#options{
      margin-top: 20px;
      padding-top: 5px;
      border-radius: 5px;
      background-color: #C62828;
      color: #FFFFFF;
}
.option{
      padding-left: 5px;
}
#info{
      background-color: #616161;
      padding-left: 12px;
      padding-bottom: 12px;
      border-radius: 5px;
      overflow: hidden;
      animation-duration: 1s;
      color: #BDBDBD;
      margin-top: 50px;
      margin-left: 30%;
      margin-right: 30%;
      display: none;
}
#slot1, #slot2, #slot3{
      display: inline-block;
      margin-top: 5px;
      margin-left: 15px;
      margin-right: 15px;
      background-size: 150px;
      width: 150px;
      height: 150px;
}
.a1{
    background-image: url("./images/seven.png");
}
.a2{
    background-image: url("./images/cherries.png");
}
.a3{
    background-image: url("./images/club.png");
}
.a4{
    background-image: url("./images/diamond.png");
}
.a5{
    background-image: url("./images/heart.png");
}
.a6{
    background-image: url("./images/spade.png");
}
.a7{
    background-image: url("./images/joker.png");
}
  
  
  
  /* <------------------ SCRATCH-IT -------------------------> */
.body-scratch {
    font-family: "Montserrat", sans-serif;
}
  
.main-container {
    padding: 24px 16px;
    margin-left: 32rem;
}
  
h2.main-heading {
    border-left: 4px solid #ff4460;
    padding: 8px 32px;
    margin-top: 0;
    margin-bottom: 42px;
}
  
.main-container h3 {
    font-weight: normal;
}
  
.scratch-container {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 32px;
    overflow: hidden;
    position: relative;
}
  
.scratch-card {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
  
  /* this affect the brick-breaker */
  #scratch-card1,
  #scratch-card2,
#scratch-card3 { 
    position: absolute;
    cursor: grabbing;
}
  
  /* <------------------ WHACK-A-MOLE ----------------------> */
.body-whack {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("./images/mario-bg.jpg");
    background-size: cover;
}
#board-whack {
    width: 550px;
    height: 590px;
    /* background-color: green; */
  
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  
    background: url("./images/soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}
  
#board-whack div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 180px;
    background-image: url("./images/pipe.png");
    background-size: cover;
}
  
#board-whack div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
  /* <------------------ PING-PONG --------------> */
  
.body-ping-pong {
    text-align: center;
    background-color: ghostwhite;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    flex-direction: column;
    position: fixed;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
  
  /* <----------------- GUESS-THE-NUMBER -------------> */
.body-guess {
    background-color: #3c6fff;
    font-family: "Poppins", sans-serif;
}
.container-guess {
    width: min(90%, 31.25em);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    padding: 4em 2em;
    border-radius: 0.5em;
    box-shadow: -1.5em -1.5em #202020;
    text-align: center;
}
.h3-guess {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 2em;
    color: #303030;
}
.input-wrapper {
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1em;
    margin: 3em auto 1.5em auto;
}
input[type="number"] {
    width: 100%;
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
    border: 2px solid #adaeae;
    border-radius: 0.3em;
    outline: none;
    appearance: text-field;
    -moz-appearance: textfield;
}
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]:focus {
    border-color: #3c6fff;
}
.guess-button {
    font-size: 1em;
    background-color: #3c6fff;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 0.5em;
    font-weight: 500;
    cursor: pointer;
}
#restart {
    margin: 0 auto 0 auto;
    padding: 0.8em 1em;
    display: none;
    
}
.result-guess {
    margin-top: 1em;
}
.p-guess {
    font-size: 1em;
    font-weight: 400;
    color: #565b70;
    word-break: break-all;
}
  .error,
.success {
    padding: 0.5em 0;
    border-radius: 0.3em;
    margin-bottom: 1em;
    animation: pop 0.4s forwards;
    transform: scale(0);
}
.error {
    background-color: #ffcbcb;
    color: #ff3e3e;
}
.success {
    background-color: #b9ffd5;
    color: #05c451;
}
@keyframes pop {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}