{% extends "base-dashboard.html" %}

{% block title %}- Beat The Dealer {% endblock %}

{% block body %}
<body class="body-beat-the-dealer">
    <h2>Dealer: <span id="dealer-sum"></span></h2>
    <div id="dealer-cards">
        <img id="hidden" src="static/images/BACK.png">
    </div>

    <h2>You: <span id="your-sum"></span></h2>
    <div id="your-cards"> 
        <img id="your-card-hidden" src="static/images/BACK.png">
    </div>

    <br>
    <button id="higher">Higher</button>
    <button id="lower">Lower</button>
    <p id="results"></p>

    <div id="popUp" class="popup-game">
        <div class="popup-content-game">
            <span class="close-game" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Mechanics <br> <br></h1>
            <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p>
            <button id="play-the-game" onclick="closePopUpGame()">Okay!</button>
        </div>
    </div>

    <div id="popUp-bet" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Your bet <br> <br></h1>
            <button id="play-the-game" onclick="closePopUpGame()">Play!</button>
        </div>
    </div>
</body>
<script src="static/script.js"></script>
<script>
    window.onload = function() {
    openPopUpGame();
    }
</script>
{% endblock %}