{% extends "base-dashboard.html" %}

{% block title %}- Blackjack {% endblock %}


{% block body %}
<body class="body-lucky">
    <div id="popUp" class="popup-game">
        <div class="popup-content-game">
            <span class="close-game" onclick="onClickExit()">&times;</span>
            <h1 id="mechanics">Mechanics <br> <br></h1>
            <p id="instruction">The two players will be random cards. <br> Your play is to know when to hit and stay if your card reaches 21. Dealer is a player also, you need to know if the dealer reaches 21 or not <br> <br></p>
            <button id="play-the-game" onclick="openPopUpBet('blackjack')">Okay!</button>
        </div>
    </div>

    <div id="popUp-bet" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="onClickExit()">&times;</span>
            <h1 id="mechanics">YOUR BET!</h1>
            <div id="bet-wrapper" class="bet-wrapper">
                <div class="bet-container">
                    <img src="static/images/30-bet.png" onclick="(onClickBet(30, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/90-bet.png" onclick="(onClickBet(90, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/150-bet.png" onclick="(onClickBet(150, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/300-bet.png" onclick="(onClickBet(300, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/500-bet.png" onclick="(onClickBet(500, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/all-in-bet.png" onclick="(onClickBet('all-in', this.src))" alt="">
                </div>
            </div>
            <!-- <button id="play-the-game" onclick="onClickBet()">Play!</button> -->
        </div>
    </div> 

    <div class="bet-user">
        <h1>Your Bet: <span id="user-bet"></span></h1>
        <img src="" alt="" id="bet-img">
        <h2 id="change-bet">Good Luck!</h2>
    </div>
    <h2>Dealer: <span id="dealer-sum"></span></h2>
    <div id="dealer-cards">
        <img id="hidden" src="static/images/BACK.png">
    </div>

    <h2>You: <span id="your-sum"></span></h2>
    <div id="your-cards"></div>

    <br>
    <button id="hit">Hit</button>
    <button id="stay">Stay</button>
    <p id="results"></p>
</body>
<script>
    window.onload = function() {
        openPopUpGame();
        
    }
</script> 
<script src="static/script.js"></script>
{% endblock %}