{% extends "base-dashboard.html" %}

{% block title %}- Color Game {% endblock %}

{% block body %}
<body class="body-color">
    <div class="game">
        <div class="container-color">
            <div id='dice1' class="dice dice-one">
                <div id="dice-one-side-one" class='side one'>
                <img src="static/images/color-game-blue.png" alt="dot-1" width="100px">
                </div>
                <div id="dice-one-side-two" class='side two'>
                    <img src="static/images/color-game-green.png" alt="dot-1" width="100px">
                </div>
                <div id="dice-one-side-three" class='side three'>
                    <img src="static/images/color-game-pink.png" alt="dot-1" width="100px">
                </div>
                <div id="dice-one-side-four" class='side four'>
                    <img src="static/images/color-game-red.png" alt="dot-1" width="100px">
                </div>
                <div id="dice-one-side-five" class='side five'>
                    <img src="static/images/color-game-white.png" alt="dot-1" width="100px">
                </div>
                <div id="dice-one-side-six" class='side six'>
                    <img src="static/images/color-game-yellow.png" alt="dot-1" width="100px">
                </div>
            </div>
        </div>
        <div class="container-color">
            <div id='dice2' class="dice dice-two">
            <div id="dice-two-side-one" class='side one'>
                <img src="static/images/color-game-blue.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-two-side-two" class='side two'>
                <img src="static/images/color-game-green.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-two-side-three" class='side three'>
                <img src="static/images/color-game-pink.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-two-side-four" class='side four'>
                <img src="static/images/color-game-red.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-two-side-five" class='side five'>
                <img src="static/images/color-game-white.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-two-side-six" class='side six'>
                <img src="static/images/color-game-yellow.png" alt="dot-1" width="100px">
            </div>
            </div> 
        </div>
        <div class="container-color">
            <div id='dice3' class="dice dice-three">
            <div id="dice-three-side-one" class='side one'>
                <img src="static/images/color-game-blue.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-three-side-two" class='side two'>
                <img src="static/images/color-game-green.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-three-side-three" class='side three'>
                <img src="static/images/color-game-pink.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-three-side-four" class='side four'>
                <img src="static/images/color-game-red.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-three-side-five" class='side five'>
                <img src="static/images/color-game-white.png" alt="dot-1" width="100px">
            </div>
            <div id="dice-three-side-six" class='side six'>
                <img src="static/images/color-game-yellow.png" alt="dot-1" width="100px">
            </div>
            </div> 
        </div>

        <div id='roll-color' class='roll-button'>
            <button class="roll-btn-color" onclick="animateDiceRollColor()">Roll dice!</button>
        </div>
    </div> 

    <div class="bet-and-color-display">

    </div>

    <div id="popUp-bet-again" class="popup-game-bet-again">
        <div class="popup-content-game">
            <span class="close-game" onclick="onClickExit()">&times;</span>
            <h1 id="mechanics">Do you want to add another bet? <br> <br></h1>
            <!-- <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p> -->
            <button id="play-the-game" onclick="openPopUpDice('no-all-in')">Yes!</button>
            <button id="play-the-game" onclick="closePopUpBetAgain()">No!</button>
        </div>
    </div>

    <div id="popUp" class="popup-game">
        <div class="popup-content-game">
            <span class="close-game" onclick="onClickExit()">&times;</span>
            <h1 id="mechanics">Mechanics <br> <br></h1>
            <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p>
            <button id="play-the-game" onclick="openPopUpDice()">Okay!</button>
        </div>
    </div>


    <div id="popUp-dice" class="popup-dice">
        <div class="popup-content-dice">
            <span class="close-dice" onclick="closePopUpDice()">&times;</span>
            <h1 id="mechanics">Choose your Color</h1>
            <div id="bet-wrapper-dice" class="bet-wrapper-dice">
                <div class="bet-container-dice">
                    <img src="static/images/color-game-blue.png" onclick="(getColor('static/images/color-game-blue.png'))"alt="">
                </div> 
                <div class="bet-container-dice">
                    <img src="static/images/color-game-green.png" onclick="(getColor('static/images/color-game-green.png'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/color-game-pink.png" onclick="(getColor('static/images/color-game-pink.png'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/color-game-red.png" onclick="(getColor('static/images/color-game-red.png'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/color-game-white.png" onclick="(getColor('static/images/color-game-white.png'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/color-game-yellow.png" onclick="(getColor('static/images/color-game-yellow.png'))" alt="">
                </div>
            </div>
            <!-- <button id="play-the-game" onclick="closePopUpBet()">Play!</button> -->
        </div>
    </div>

    <div id="popUp-bet" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="closePopUpBet()">&times;</span>
            <h1 id="mechanics">Choose your League</h1>
            <div id="bet-wrapper" class="bet-wrapper">
                <div class="bet-container">
                    <img src="static/images/100-bet.png" onclick="(getBets(100))" alt="">
                </div> 
                <div class="bet-container">
                    <img src="static/images/200-bet.png" onclick="(getBets(200))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/300-bet.png" onclick="(getBets(300))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/400-bet.png" onclick="(getBets(400))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/500-bet.png" onclick="(getBets(500))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/all-in-bet.png" onclick="(getBets('all-in'))" alt="" id="all-in-id">
                </div>
            </div>
            <button id="play-the-game" onclick="closePopUpBet()">Play!</button>
        </div>
    </div>

    <div id="popUp-dice-without-all-in" class="popup-dice">
        <div class="popup-content-dice">
            <span class="close-dice" onclick="closePopUpDice()">&times;</span>
            <h1 id="mechanics">Choose your Color</h1>
            <div id="bet-wrapper-dice" class="bet-wrapper-dice">
                <div class="bet-container-dice">
                    <img src="static/images/color-game-blue.png" onclick="(getColorWithOutAllIn('static/images/color-game-blue.png'))"alt="">
                </div> 
                <div class="bet-container-dice">
                    <img src="static/images/color-game-green.png" onclick="(getColorWithOutAllIn('static/images/color-game-green.png'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/color-game-pink.png" onclick="(getColorWithOutAllIn('static/images/color-game-pink.png'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/color-game-red.png" onclick="(getColorWithOutAllIn('static/images/color-game-red.png'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/color-game-white.png" onclick="(getColorWithOutAllIn('static/images/color-game-white.png'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/color-game-yellow.png" onclick="(getColorWithOutAllIn('static/images/color-game-yellow.png'))" alt="">
                </div>
            </div>
            <!-- <button id="play-the-game" onclick="closePopUpBet()">Play!</button> -->
        </div>
    </div>

    <div id="popUp-bet-without-allin" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="closePopUpBet()">&times;</span>
            <h1 id="mechanics">Choose your League</h1>
            <div id="bet-wrapper" class="bet-wrapper">
                <div class="bet-container">
                    <img src="static/images/100-bet.png" onclick="(getbetsWithoutAllIn(100))" alt="">
                </div> 
                <div class="bet-container">
                    <img src="static/images/200-bet.png" onclick="(getbetsWithoutAllIn(200))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/300-bet.png" onclick="(getbetsWithoutAllIn(300))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/400-bet.png" onclick="(getbetsWithoutAllIn(400))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/500-bet.png" onclick="(getbetsWithoutAllIn(500))" alt="">
                </div>
            </div>
            <!-- <button id="play-the-game" onclick="closePopUpBetWithOutAllIn()">Play!</button> -->
        </div>
    </div>

    <div class="bet-user">
        <h1>Your Bet: <span id="user-bet"></span></h1>
        <img src="" alt="" id="bet-img">
        <h2 id="change-bet">Good Luck!</h2>
    </div>
</body>
<script>
    window.onload = function() {
        openPopUpGame();
    }
</script>
<script src="static/script.js" defer></script>
{% endblock %}