{% extends "base-dashboard.html" %}

{% block title %}Fortune Casino - Flip Coin {% endblock %}

{% block body %}
<body class="body-coin">
    <div class="container-flip">
        <div class="stats">
            <p id="heads-count">Heads: 0</p>
            <p id="tails-count">Tails: 0</p>
        </div>
        <div class="coin" id="coin">
            <div class="heads">
                <img src="static/images/heads.svg">
            </div>
            <div class="tails">
                <img src="static/images/tails.svg">
            </div>
        </div>
        <div class="buttons">
            <button id="flip-button" class="btn">
                Flip Coin
            </button>
            <button id="reset-button" class="btn">
                Reset
            </button>
        </div>
    </div>
    <script>
        let heads = 0;
        let tails = 0;
        let coin = document.querySelector(".coin");
        let flipBtn = document.querySelector("#flip-button");
        let resetBtn = document.querySelector("#reset-button");

        flipBtn.addEventListener("click", () => {
            let i = Math.floor(Math.random() * 2);
            coin.style.animation = "none";
            if(i){
                setTimeout(function(){
                    coin.style.animation = "spin-heads 3s forwards";
                }, 100);
                heads++;
            }
            else{
                setTimeout(function(){
                    coin.style.animation = "spin-tails 3s forwards";
                }, 100);
                tails++;
            }
            setTimeout(updateStats, 3000);
            disableButton();
        });
        function updateStats(){
            document.querySelector("#heads-count").textContent = `Heads: ${heads}`;
            document.querySelector("#tails-count").textContent = `Tails: ${tails}`;
        }
        function disableButton(){
            flipBtn.disabled = true;
            setTimeout(function(){
                flipBtn.disabled = false;
            },3000);
        }
        resetBtn.addEventListener("click",() => {
            coin.style.animation = "none";
            heads = 0;
            tails = 0;
            updateStats();
        });
    </script>
</body>
{% endblock %}