{% extends "base-dashboard.html" %}

{% block title %}- Guess The Number{% endblock %}

{% block link %}
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    </style>
{% endblock %}

{% block body %}
<body class="body-guess">
    <div class="container-guess">
      <div id="game-guess">
        <h3 class="h3-guess">
          I am thinking of a number between 1-100.<br />
          Can you guess it?
        </h3>
        <div class="input-wrapper">
          <input type="number" placeholder="00" id="guess" />
          <button id="check-btn">Guess</button>
        </div>
        <p id="no-of-guesses" class="p-guess">No. Of Guesses: 0</p>
        <p id="guessed-nums" class="p-guess">Guessed Numbers are: None</p>
      </div>
      <button id="restart" class="guess-button">Restart</button>
      <div class="result-guess">
        <div id="hint"></div>
      </div>
    </div>

    <div id="popUp" class="popup-game">
      <div class="popup-content-game">
          <span class="close-game" onclick="closePopUpGame()">&times;</span>
          <h1 id="mechanics">Mechanics <br> <br></h1>
          <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p>
          <button id="play-the-game" onclick="closePopUpGame()">Okay!</button>
      </div>
  </div>

  <div id="popUp-bet" class="popup-bet">
      <div class="popup-content-bet">
          <span class="close-bet" onclick="closePopUpGame()">&times;</span>
          <h1 id="mechanics">Your bet <br> <br></h1>
          <button id="play-the-game" onclick="closePopUpGame()">Play!</button>
      </div>
  </div>

    <script>
      window.onload = function() {
        openPopUpGame();
      }
        const hint = document.getElementById("hint");
        const noOfGuessesRef = document.getElementById("no-of-guesses");
        const guessedNumsRef = document.getElementById("guessed-nums");
        const restartButton = document.getElementById("restart");
        const game = document.getElementById("game");
        const guessInput = document.getElementById("guess");
        const checkButton = document.getElementById("check-btn");

        let answer, noOfGuesses, guessedNumsArr;

        const play = () => {
        const userGuess = guessInput.value;
        if (userGuess < 1 || userGuess > 100 || isNaN(userGuess)) {
            alert("Please enter a valid number between 1 and 100.");
            return;
        }
        guessedNumsArr.push(userGuess);
        noOfGuesses += 1;
        if (userGuess != answer) {
            if (userGuess < answer) {
            hint.innerHTML = "Too low. Try Again!";
            } else {
            hint.innerHTML = "Too high. Try Again!";
            }
            noOfGuessesRef.innerHTML = `<span>No. Of Guesses:</span> ${noOfGuesses}`;
            guessedNumsRef.innerHTML = `<span>Guessed Numbers are: </span>${guessedNumsArr.join(
            ","
            )}`;
            hint.classList.remove("error");
            setTimeout(() => {
            hint.classList.add("error");
            }, 10);
        } else {
            hint.innerHTML = `Congratulations!<br>The number was <span>${answer}</span>.<br>You guessed the number in <span>${noOfGuesses} </span>tries.`;
            hint.classList.add("success");
            game.style.display = "none";
            restartButton.style.display = "block";
        }
        };

        const init = () => {
        console.log("Game Started");
        answer = Math.floor(Math.random() * 100) + 1;
        console.log(answer);
        noOfGuesses = 0;
        guessedNumsArr = [];
        noOfGuessesRef.innerHTML = "No. Of Guesses: 0";
        guessedNumsRef.innerHTML = "Guessed Numbers are: None";
        guessInput.value = "";
        hint.classList.remove("success", "error");
        };

        guessInput.addEventListener("keydown", (event) => {
        if (event.keyCode === 13) {
            event.preventDefault();
            play();
        }
        });

        restartButton.addEventListener("click", () => {
        game.style.display = "grid";
        restartButton.style.display = "none";
        hint.innerHTML = "";
        hint.classList.remove("success");
        init();
        });

        checkButton.addEventListener("click", play);
        window.addEventListener("load", init);

    </script>
  </body>
  <script src="static/script.js"></script>
{% endblock %}