{% extends "base-dashboard.html" %}

{% block title %}- Higher or Lower {% endblock %}

{% block body %}
<body class="body-higher-lower">
    <div id="popUp" class="popup-game">
        <div class="popup-content-game">
            <span class="close-game" onclick="onClickExit()">&times;</span>
            <h1 id="mechanics">Mechanics <br> <br></h1>
            <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer's card <br> <br></p>
            <button id="play-the-game" onclick="openPopUpBet('higher-lower')">Okay!</button>
        </div>
    </div>

    <div id="popUp-bet" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="onClickExit()">&times;</span>
            <h1 id="mechanics">YOUR BET!</h1>
            <div id="bet-wrapper" class="bet-wrapper">
                <div class="bet-container">
                    <img src="static/images/30-bet.png" onclick="(onClickBet(30, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/90-bet.png" onclick="(onClickBet(90, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/150-bet.png" onclick="(onClickBet(150, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/300-bet.png" onclick="(onClickBet(300, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/500-bet.png" onclick="(onClickBet(500, this.src))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/all-in-bet.png" onclick="(onClickBet('all-in', this.src))" alt="">
                </div>
            </div>
            <!-- <button id="play-the-game" onclick="onClickBet()">Play!</button> -->
        </div>
    </div> 

    <div class="bet-user">
        <h1>Your Bet: <span id="user-bet"></span></h1>
        <img src="" alt="" id="bet-img">
        <h2 id="change-bet">Good Luck!</h2>
    </div>
    <h2>Dealer: <span id="dealer-sum"></span></h2>
    <div id="dealer-cards">
        <img id="hidden" src="static/images/BACK.png">
    </div>

    <h2>You: <span id="your-sum"></span></h2>
    <div id="your-cards"></div>

    <br>
    <button id="higher">Higher</button>
    <button id="lower">Lower</button>
    <p id="results"></p>

</body>
<!-- <script src="static/script.js"></script> -->
    <script>
        
        let dealerSumHigher = 0;
        let yourSumHigher = 0;

        let dealerAceCountHigher = 0;
        let yourAceCountHigher = 0; 

        let hiddenHigher;
        let deckHigher;

        let canHitHigher = true;
        const balanceElementHigher = document.getElementById("balance");
        // let amountBet = 0;
        window.onload = function() {
            openPopUpGame();
        }

    function buildDeck() {
        let values = ["A", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"];
        let types = ["C", "D", "H", "S"];
        deckHigher = [];

        for (let i = 0; i < types.length; i++) {
            for (let j = 0; j < values.length; j++) {
                deckHigher.push(values[j] + "-" + types[i]); 
            }
        }
        console.log(deckHigher);
    }

    function shuffleDeck() {
        for (let i = 0; i < deckHigher.length; i++) {
            let j = Math.floor(Math.random() * deckHigher.length); 
            let temp = deckHigher[i];
            deckHigher[i] = deckHigher[j];
            deckHigher[j] = temp;
        }
        console.log(deckHigher);
    }

    function startGame() {
        hiddenHigher = deckHigher.pop();
        dealerSumHigher += getValue(hiddenHigher);
        dealerAceCountHigher += checkAce(hiddenHigher);
        while (dealerSumHigher < 1) { 
            let cardImg = document.createElement("img");
            let card = deckHigher.pop();
            cardImg.src = "static/images/" + card + ".png";
            dealerSumHigher += getValue(card);
            dealerAceCountHigher += checkAce(card);
            document.getElementById("dealer-cards").append(cardImg);
        }
        console.log(dealerSumHigher);

        for (let i = 0; i < 1; i++) {
            let cardImg = document.createElement("img");
            let card = deckHigher.pop();
            cardImg.src = "static/images/" + card + ".png";
            yourSumHigher += getValue(card);
            yourAceCountHigher += checkAce(card);
            document.getElementById("your-cards").append(cardImg);
        }

        console.log(yourSumHigher);
        document.getElementById("higher").addEventListener("click", higher);
        document.getElementById("lower").addEventListener("click", lower);

    }

    function hit() {
        if (!canHitHigher) {
            return;
        }

        let cardImg = document.createElement("img");
        let card = deckHigher.pop();
        cardImg.src = "static/images/" + card + ".png";
        yourSumHigher += getValue(card);
        yourAceCountHigher += checkAce(card);
        document.getElementById("your-cards").append(cardImg);

        if (reduceAce(yourSumHigher, yourAceCountHigher) > 21) { 
            canHitHigher = false;
        }

    }
    function lower() {
        dealerSumHigher = reduceAce(dealerSumHigher, dealerAceCountHigher);
        yourSumHigher = reduceAce(yourSumHigher, yourAceCountHigher);

        canHitHigher = false;
        document.getElementById("hidden").src = "static/images/" + hiddenHigher + ".png";

        let message = "";
        if (yourSumHigher > dealerSumHigher) {
            message = "You Lose!";
            deductBetFromBalance(amountBet);
            setTimeout(() => {
                    location.reload();
                }, 2000);
        }
        else if (dealerSumHigher > yourSumHigher) {
            message = "You win!";
            addBetToBalance(amountBet);
            setTimeout(() => {
                    location.reload();
                }, 2000);
        }
        else if (yourSumHigher == dealerSumHigher) {
            message = "Tie!";
            setTimeout(() => {
                location.reload();
            }, 2000);
        }

        document.getElementById("dealer-sum").innerText = dealerSumHigher;
        document.getElementById("your-sum").innerText = yourSumHigher;
        document.getElementById("results").innerText = message;
    }

    function higher() {
        dealerSumHigher = reduceAce(dealerSumHigher, dealerAceCountHigher);
        yourSumHigher = reduceAce(yourSumHigher, yourAceCountHigher);

        canHitHigher = false;
        document.getElementById("hidden").src = "static/images/" + hiddenHigher + ".png";

        let message = "";
        if (yourSumHigher > dealerSumHigher) {
            message = "You win!";
            addBetToBalance(amountBet);
            setTimeout(() => {
                    location.reload();
                }, 2000);
        }
        else if (dealerSumHigher > yourSumHigher) {
            message = "You lose!";
            deductBetFromBalance(amountBet);
            setTimeout(() => {
                    location.reload();
                }, 2000);
        }
        else if (yourSumHigher == dealerSumHigher) {
            message = "Tie!";
            setTimeout(() => {
                location.reload();
            }, 2000);
        }

        document.getElementById("dealer-sum").innerText = dealerSumHigher;
        document.getElementById("your-sum").innerText = yourSumHigher;
        document.getElementById("results").innerText = message;
    }

    function getValue(card) {
        let data = card.split("-"); 
        let value = data[0];

        if (isNaN(value)) { 
            if (value == "A") {
                return 11;
            }
            return 10;
        }
        return parseInt(value);
    }

    function checkAce(card) {
        if (card[0] == "A") {
            return 1;
        }
        return 0;
    }

    function reduceAce(playerSum, playerAceCount) {
        while (playerSum > 21 && playerAceCount > 0) {
            playerSum -= 10;
            playerAceCount -= 1;
        }
        return playerSum;
    }

    function openPopup(amountValue, img) {
    amount = amountValue;
    document.getElementById("pop-up-img").src = "static/images/" + img + ".png";
    document.getElementById("popup").style.display = "block";
    document.getElementById("amount").innerText ="Amount: $" + amountValue + ".00"
}

    function closePopup() {
        document.getElementById("popup").style.display = "none";
    }

    // <---- pop-up-game ----->

    function openPopUpGame() {
        document.getElementById("popUp").style.display = "block";
        document.getElementById("instruction").style.display = "block";
        document.getElementById("mechanics").style.display = "block";
    }

    function closePopUpGame() {
        document.getElementById("popUp").style.display = "none";
    }

    // <---- pop-up-bet ----->

    function openPopUpBet(game) {
        if (game == 'beat') {
            buildDeckBeatTheDealer();
            shuffleDeckBeatTheDealer();
            startGameBeatTheDealer();
        }else if (game =='higher-lower') {
            buildDeck();
            shuffleDeck();
            startGame();
        }
        document.getElementById("popUp-bet").style.display = "block";
        document.getElementById("mechanics").style.display = "block";
        document.getElementById("popUp").style.display = "none";
        document.querySelector(".bet-user").style.display = "none";
    }

    function closePopUpBet() {
        document.getElementById("popUp-bet").style.display = "none";
    }

    function onClickBet(amount, imgsrc) {
        let balance = parseInt(balanceElementHigher.textContent, 10);
        if (balance >= amount) {
            amountBet = amount;
            document.querySelector(".bet-user").style.display = "block";
            document.getElementById("user-bet").textContent = `$ ${amount}`;
            document.getElementById("bet-img").src = imgsrc
            closePopUpBet();
        }else if (amount == 'all-in') {
            amountBet = balance;
            document.querySelector(".bet-user").style.display = "block";
            document.getElementById("user-bet").textContent = `$ ${balance}`;
            document.getElementById("bet-img").src = imgsrc
            closePopUpBet();
        }
        else {
            alert("You don't have enough money!");
            return;
        }
        console.log(amount, balance);
    }
    </script>
    
{% endblock %}