{% extends "base-dashboard.html" %}

{% block title %}- Hunger Maze {% endblock %}

{% block body %}
<body class="body-maze">

    <h1 class="title">Maze Generator</h1>

    <div class="complete">
      <h3>Maze Completed.</h3>
      <h1>Congratulations You Won $10</h1>
      <button class="replay" id="submit">Play again</button>
      <button class="close" id="submit">Close</button>
    </div>
    
      <form id="settings" action="">
        <p>Maze Size</p>
        <input id="size" class="input" type="number" value="500"/></br>
        <p>Rows/Columns</p>
        <input id="number" type="number" class="input" value="20" /></br>
        <input id="submit" type="submit" class="input" value="Generate Maze">
      </form>
  
    <canvas class="maze"></canvas>

    <!-- <script src="maze.js"></script>
    <script src="settings.js"></script> -->

    <script src="static/script.js"></script>
  </body>
{% endblock %}