{% extends "base-dashboard.html" %}

{% block title %}Fortune Casino - Beat The Dealer {% endblock %}

{% block link %}
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
{% endblock %}

{% block body %}
<body class="body-memory">
    <div class="wrapper">
      <ul class="cards">
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-1.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-2.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-3.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-5.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-6.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-5.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-6.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-1.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-2.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-3.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="static/images/img-4.png" alt="card-img">
          </div>
        </li>
        <div class="details">
          <p class="time" id="p">Time: <span><b>20</b>s</span></p>
          <p class="flips" id="p">Flips: <span><b>0</b></span></p>
          <button>Refresh</button>
        </div>
      </ul>
    </div>
    <div id="popUp" class="popup-game">
      <div class="popup-content-game">
          <span class="close-game" onclick="closePopUpGame()">&times;</span>
          <h1 id="mechanics">Mechanics <br> <br></h1>
          <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p>
          <button id="play-the-game" onclick="closePopUpGame()">Okay!</button>
      </div>
  </div>

  <div id="popUp-bet" class="popup-bet">
    <div class="popup-content-bet">
        <span class="close-bet" onclick="closePopUpBet()">&times;</span>
        <h1 id="mechanics">Your bet</h1>
        <div id="bet-wrapper" class="bet-wrapper">
            <div class="bet-container">
                <img src="static/images/30-bet.png" onclick="(onClickBet(30))" alt="">
            </div>
            <div class="bet-container">
                <img src="static/images/90-bet.png" onclick="(onClickBet(90))" alt="">
            </div>
            <div class="bet-container">
                <img src="static/images/150-bet.png" onclick="(onClickBet(150))" alt="">
            </div>
            <div class="bet-container">
                <img src="static/images/300-bet.png" onclick="(onClickBet(300))" alt="">
            </div>
            <div class="bet-container">
                <img src="static/images/500-bet.png" onclick="(onClickBet(500))" alt="">
            </div>
            <div class="bet-container">
                <img src="static/images/all-in-bet.png" onclick="(onClickBet('all-in'))" alt="">
            </div>
        </div>
        <button id="play-the-game" onclick="closePopUpBet()">Play!</button>
    </div>
</div>

    <script>
      window.onload = function() {
            openPopUpGame();
      }
        const cards = document.querySelectorAll(".card"),
timeTag = document.querySelector(".time b"),
flipsTag = document.querySelector(".flips b"),
refreshBtn = document.querySelector(".details button");

let maxTime = 60;
let timeLeft = maxTime;
let flips = 0;
let matchedCard = 0;
let disableDeck = false;
let isPlaying = false;
let cardOne, cardTwo, timer;

function initTimer() {
    if(timeLeft <= 0) {
        return clearInterval(timer);
    }
    timeLeft--;
    timeTag.innerText = timeLeft;
}

function flipCard({target: clickedCard}) {
    if(!isPlaying) {
        isPlaying = true;
        timer = setInterval(initTimer, 1000);
    }
    if(clickedCard !== cardOne && !disableDeck && timeLeft > 0) {
        flips++;
        flipsTag.innerText = flips;
        clickedCard.classList.add("flip");
        if(!cardOne) {
            return cardOne = clickedCard;
        }
        cardTwo = clickedCard;
        disableDeck = true;
        let cardOneImg = cardOne.querySelector(".back-view img").src,
        cardTwoImg = cardTwo.querySelector(".back-view img").src;
        matchCards(cardOneImg, cardTwoImg);
    }
}

function matchCards(img1, img2) {
    if(img1 === img2) {
        matchedCard++;
        if(matchedCard == 6 && timeLeft > 0) {
            return clearInterval(timer);
        }
        cardOne.removeEventListener("click", flipCard);
        cardTwo.removeEventListener("click", flipCard);
        cardOne = cardTwo = "";
        return disableDeck = false;
    }

    setTimeout(() => {
        cardOne.classList.add("shake");
        cardTwo.classList.add("shake");
    }, 400);

    setTimeout(() => {
        cardOne.classList.remove("shake", "flip");
        cardTwo.classList.remove("shake", "flip");
        cardOne = cardTwo = "";
        disableDeck = false;
    }, 1200);
}

function shuffleCard() {
    timeLeft = maxTime;
    flips = matchedCard = 0;
    cardOne = cardTwo = "";
    clearInterval(timer);
    timeTag.innerText = timeLeft;
    flipsTag.innerText = flips;
    disableDeck = isPlaying = false;

    let arr = [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6];
    arr.sort(() => Math.random() > 0.5 ? 1 : -1);

    cards.forEach((card, index) => {
        card.classList.remove("flip");
        let imgTag = card.querySelector(".back-view img");
        setTimeout(() => {
            imgTag.src = `static/images/img-${arr[index]}.png`;
        }, 500);
        card.addEventListener("click", flipCard);
    });
}

shuffleCard();

refreshBtn.addEventListener("click", shuffleCard);

cards.forEach(card => {
    card.addEventListener("click", flipCard);
});
    </script>
  </body>
  <script src="static/script.js"></script>
{% endblock %}