{% extends "base-dashboard.html" %}

{% block title %}- Rock Paper or Scissors {% endblock %}

<!-- {% block link %}
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            }
    </style>
{% endblock %} -->

{% block body %}
<body class="body-rock-paper">
    <section class="container-rock-paper">
      <div class="result_field">
        <div class="result_images">
          <span class="user_result">
            <img src="static/images/rock.png" alt="" />
          </span>
          <span class="cpu_result">
            <img src="static/images/rock.png" alt="" />
          </span>
        </div>
        <div class="result">Let's Play!!</div>
      </div>

      <div class="option_images">
        <span class="option_image">
          <img src="static/images/rock.png" alt="" />
          <p>Rock</p>
        </span>
        <span class="option_image">
          <img src="static/images/paper.png" alt="" />
          <p>Paper</p>
        </span>
        <span class="option_image">
          <img src="static/images/scissors.png" alt="" />
          <p>Scissors</p>
        </span>
      </div>
    </section>
    <div id="popUp" class="popup-game">
      <div class="popup-content-game">
          <span class="close-game" onclick="onClickExit()">&times;</span>
          <h1 id="mechanics">Mechanics <br> <br></h1>
          <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer's card <br> <br></p>
          <button id="play-the-game" onclick="openPopUpBet()">Okay!</button>
      </div>
  </div>

  <div id="popUp-bet" class="popup-bet">
      <div class="popup-content-bet">
          <span class="close-bet" onclick="onClickExit()">&times;</span>
          <h1 id="mechanics">YOUR BET!</h1>
          <div id="bet-wrapper" class="bet-wrapper">
              <div class="bet-container">
                  <img src="static/images/30-bet.png" onclick="(onClickBet(30, this.src))" alt="">
              </div>
              <div class="bet-container">
                  <img src="static/images/90-bet.png" onclick="(onClickBet(90, this.src))" alt="">
              </div>
              <div class="bet-container">
                  <img src="static/images/150-bet.png" onclick="(onClickBet(150, this.src))" alt="">
              </div>
              <div class="bet-container">
                  <img src="static/images/300-bet.png" onclick="(onClickBet(300, this.src))" alt="">
              </div>
              <div class="bet-container">
                  <img src="static/images/500-bet.png" onclick="(onClickBet(500, this.src))" alt="">
              </div>
              <div class="bet-container">
                  <img src="static/images/all-in-bet.png" onclick="(onClickBet('all-in', this.src))" alt="">
              </div>
          </div>
          <!-- <button id="play-the-game" onclick="onClickBet()">Play!</button> -->
      </div>
  </div> 

  <div class="bet-user">
      <h1>Your Bet: <span id="user-bet"></span></h1>
      <img src="" alt="" id="bet-img">
      <h2 id="change-bet">Good Luck!</h2>
  </div>
    <script>
       window.onload = function() {
            openPopUpGame();
        }
  const gameContainer = document.querySelector(".container-rock-paper"),
  userResult = document.querySelector(".user_result img"),
  cpuResult = document.querySelector(".cpu_result img"),
  result = document.querySelector(".result"),
  optionImages = document.querySelectorAll(".option_image");


optionImages.forEach((image, index) => {
  image.addEventListener("click", (e) => {
    image.classList.add("active");

    userResult.src = cpuResult.src = "static/images/rock.png";
    result.textContent = "Wait...";

    
    optionImages.forEach((image2, index2) => {
      index !== index2 && image2.classList.remove("active");
    });

    gameContainer.classList.add("start");
    let time = setTimeout(() => {
      gameContainer.classList.remove("start");
      let imageSrc = e.target.querySelector("img").src;
      userResult.src = imageSrc;
      let randomNumber = Math.floor(Math.random() * 3);
      let cpuImages = ["static/images/rock.png", "static/images/paper.png", "static/images/scissors.png"];
      cpuResult.src = cpuImages[randomNumber];

      let cpuValue = ["R", "P", "S"][randomNumber];
      let userValue = ["R", "P", "S"][index];

      let outcomes = {
        RR: "Draw",
        RP: "Cpu",
        RS: "User",
        PP: "Draw",
        PR: "User",
        PS: "Cpu",
        SS: "Draw",
        SR: "Cpu",
        SP: "User",
      };
 
      let outComeValue = outcomes[userValue + cpuValue];
      result.textContent = userValue === cpuValue ? "Match Draw" : `${outComeValue} Won!!`;
      if (outComeValue === "User") {
          addBetToBalance(amountBet);
          setTimeout(() => {
                location.reload();
            }, 2000);
        } else if (outComeValue === "Cpu") {
          deductBetFromBalance(amountBet);
          setTimeout(() => {
                location.reload();
            }, 2000);
        }
    }, 2500);
  });
});
    </script>
  </body>
  <script src="static/script.js"></script>
{% endblock %}