{% extends "base-dashboard.html" %}

{% block title %}- Scratch it {% endblock %}

{% block body %}
<body class="body-scratch">
    <div class="main-container">
        <h2 class="main-heading">Scratch to view code</h2>

        <h3>This must be your lucky day!</h3>
        <div class="scratch-container">
            <div class="scratch-card">
                <div class="code" id="code1"></div>
            </div>
            <canvas id="scratch-card1" width="300" height="100"></canvas>
        </div>

        <h3>This must be your lucky day!</h3>
        <div class="scratch-container">
            <div class="scratch-card">
                <div class="code" id="code2"></div>
            </div>
            <canvas id="scratch-card2" width="300" height="100"></canvas>
        </div>

        <h3>This must be your lucky day!</h3>
        <div class="scratch-container">
            <div class="scratch-card">
                <div class="code" id="code3"></div>
            </div>
            <canvas id="scratch-card3" width="300" height="100"></canvas>
        </div>
    </div>

    <script>
        let scratchState = {card1: false, card2: false, card3: false};

        window.onload = function() {
            generateCodes();
        }

        const createScratchCard = (canvasId, color, codeId, cardId) => {
            let canvas = document.getElementById(canvasId);
            let context = canvas.getContext("2d");
            let codeElement = document.getElementById(codeId);

            const init = () => {
                context.fillStyle = color;
                context.fillRect(0, 0, 300, 100);
            };

            let isDragging = false;

            const scratch = (x, y) => {
                context.globalCompositeOperation = "destination-out";
                context.beginPath();
                context.arc(x, y, 80, 0, 2 * Math.PI);
                context.fill();

                checkScratchCompletion(canvas, codeElement.innerText, cardId);
            };

            canvas.addEventListener("mousedown", (event) => {
                isDragging = true;
                scratch(event.offsetX, event.offsetY);
            });

            canvas.addEventListener("mousemove", (event) => {
                if (isDragging) {
                    scratch(event.offsetX, event.offsetY);
                }
            });

            canvas.addEventListener("mouseup", () => {
                isDragging = false;
            });

            canvas.addEventListener("mouseleave", () => {
                isDragging = false;
            });

            init();
        };

        const checkScratchCompletion = (canvas, code, cardId) => {
            const pixels = canvas.getContext("2d").getImageData(0, 0, canvas.width, canvas.height).data;
            const scratchedPixels = pixels.filter((pixel, index) => index % 4 === 3 && pixel === 0).length;
            const totalPixels = canvas.width * canvas.height;

            if (scratchedPixels > totalPixels * 0.5) { // Assume scratch is complete if more than 50% is scratched
                if (!scratchState[cardId]) {
                    scratchState[cardId] = true; // Mark the card as scratched
                    if (code === 'WINNER!') {
                      addBetToBalance(10000);
                      setTimeout(() => {
                          location.reload();
                      }, 100);
                        alert('You are a WINNER!');
                    }
                    checkAllScratched();
                }
            }
        };

        const generateCodes = () => {
            const generateCode = () => {
                const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
                let code = '';
                for (let i = 0; i < 8; i++) {
                    code += chars.charAt(Math.floor(Math.random() * chars.length));
                }
                // Randomly insert WINNER! message
                if (Math.random() < 0.1) {  // 10% chance to be a winner
                    code = 'WINNER!';
                }
                return code;
            };

            document.getElementById('code1').innerText = generateCode();
            document.getElementById('code2').innerText = generateCode();
            document.getElementById('code3').innerText = generateCode();
        };

        const checkAllScratched = () => {
            if (Object.values(scratchState).every(state => state)) {
                const codes = [
                    document.getElementById('code1').innerText,
                    document.getElementById('code2').innerText,
                    document.getElementById('code3').innerText
                ];

                if (codes.every(code => code !== 'WINNER!')) {
                    alert('No WINNER! codes. 1000 will be deducted from your balance.');
                    deductBetFromBalance(1000);
                    setTimeout(() => {
                          location.reload();
                      }, 100);
                }
            }
        };

        createScratchCard("scratch-card1", "#006d77", "code1", "card1");
        createScratchCard("scratch-card2", "#83c5be", "code2", "card2");
        createScratchCard("scratch-card3", "#8338ec", "code3", "card3");

    </script>
</body>
<script src="static/script.js"></script>
{% endblock %}
