{% extends "base-dashboard.html" %}

{% block title %}Fortune Casino - Beat The Dealer {% endblock %}

{% block body %}
<body class="body-sic">
    <div class="game">
        <div class="container-sic-bo">
          <div id='dice1' class="dice dice-one">
            <div id="dice-one-side-one" class='side one'>
              <img src="../images/dice-01.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-two" class='side two'>
                <img src="../images/dice-02.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-three" class='side three'>
                <img src="../images/dice-03.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-four" class='side four'>
                <img src="../images/dice-04.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-five" class='side five'>
                <img src="../images/dice-05.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-six" class='side six'>
                <img src="../images/dice-06.svg" alt="dot-1">
            </div>
          </div>
       </div>
        <div class="container-sic-bo">
          <div id='dice2' class="dice dice-two">
            <div id="dice-two-side-one" class='side one'>
                <img src="../images/dice-01.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-two" class='side two'>
                <img src="../images/dice-02.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-three" class='side three'>
                <img src="../images/dice-03.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-four" class='side four'>
                <img src="../images/dice-04.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-five" class='side five'>
                <img src="../images/dice-05.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-six" class='side six'>
                <img src="../images/dice-06.svg" alt="dot-1">
            </div>
          </div> 
       </div>
       <div class="container-sic-bo">
        <div id='dice3' class="dice dice-three">
          <div id="dice-three-side-one" class='side one'>
              <img src="../images/dice-01.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-two" class='side two'>
              <img src="../images/dice-02.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-three" class='side three'>
              <img src="../images/dice-03.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-four" class='side four'>
              <img src="../images/dice-04.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-five" class='side five'>
              <img src="../images/dice-05.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-six" class='side six'>
              <img src="../images/dice-06.svg" alt="dot-1">
          </div>
        </div> 
     </div>
       <div id='roll' class='roll-button'>
        <button class="roll-btn-sic-bo" onclick="animateDiceRollSicBo()">Roll dice!</button>
    </div>
      </div> 
</body>
<script src="../script.js"></script>
{% endblock %}