{% extends "base-dashboard.html" %}

{% block title %}- Sic Bo {% endblock %}

{% block body %}
<body class="body-sic">
    <div class="game">
        <div class="container-sic-bo">
          <div id='dice1' class="dice dice-one">
            <div id="dice-one-side-one" class='side one'>
              <img src="static/images/dice-01.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-two" class='side two'>
                <img src="static/images/dice-02.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-three" class='side three'>
                <img src="static/images/dice-03.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-four" class='side four'>
                <img src="static/images/dice-04.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-five" class='side five'>
                <img src="static/images/dice-05.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-six" class='side six'>
                <img src="static/images/dice-06.svg" alt="dot-1">
            </div>
          </div>
       </div>
        <div class="container-sic-bo">
          <div id='dice2' class="dice dice-two">
            <div id="dice-two-side-one" class='side one'>
                <img src="static/images/dice-01.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-two" class='side two'>
                <img src="static/images/dice-02.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-three" class='side three'>
                <img src="static/images/dice-03.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-four" class='side four'>
                <img src="static/images/dice-04.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-five" class='side five'>
                <img src="static/images/dice-05.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-six" class='side six'>
                <img src="static/images/dice-06.svg" alt="dot-1">
            </div>
          </div> 
       </div>
       <div class="container-sic-bo">
        <div id='dice3' class="dice dice-three">
          <div id="dice-three-side-one" class='side one'>
              <img src="static/images/dice-01.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-two" class='side two'>
              <img src="static/images/dice-02.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-three" class='side three'>
              <img src="static/images/dice-03.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-four" class='side four'>
              <img src="static/images/dice-04.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-five" class='side five'>
              <img src="static/images/dice-05.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-six" class='side six'>
              <img src="static/images/dice-06.svg" alt="dot-1">
          </div>
        </div> 
        </div>
        <div id='roll' class='roll-button'>
            <button class="roll-btn-sic-bo" onclick="animateDiceRollSicBo()">Roll dice!</button>
        </div>
      </div> 

    <div class="bet-and-color-display">

    </div>

    <div id="popUp-bet-again" class="popup-game-bet-again">
        <div class="popup-content-game">
            <span class="close-game" onclick="onClickExit()">&times;</span>
            <h1 id="mechanics">Do you want to add another bet? <br> <br></h1>
            <!-- <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p> -->
            <button id="play-the-game" onclick="openPopUpDice('no-all-in')">Yes!</button>
            <button id="play-the-game" onclick="closePopUpBetAgain()">No!</button>
        </div>
    </div>

    <div id="popUp" class="popup-game">
        <div class="popup-content-game">
            <span class="close-game" onclick="onClickExit()">&times;</span>
            <h1 id="mechanics">Mechanics <br> <br></h1>
            <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p>
            <button id="play-the-game" onclick="openPopUpDice()">Okay!</button>
        </div>
    </div>


    <div id="popUp-dice" class="popup-dice">
        <div class="popup-content-dice">
            <span class="close-dice" onclick="closePopUpDice()">&times;</span>
            <h1 id="mechanics">Choose your Dice</h1>
            <div id="bet-wrapper-dice" class="bet-wrapper-dice">
                <div class="bet-container-dice">
                    <img src="static/images/dice-01.svg" onclick="(getColor('static/images/dice-01.svg'))" alt="">
                </div> 
                <div class="bet-container-dice">
                    <img src="static/images/dice-02.svg" onclick="(getColor('static/images/dice-02.svg'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/dice-03.svg" onclick="(getColor('static/images/dice-03.svg'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/dice-04.svg" onclick="(getColor('static/images/dice-04.svg'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/dice-05.svg" onclick="(getColor('static/images/dice-05.svg'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/dice-06.svg" onclick="(getColor('static/images/dice-06.svg'))" alt="">
                </div>
            </div>
            <button id="play-the-game" onclick="closePopUpBet()">Play!</button>
        </div>
    </div>

    <div id="popUp-bet" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="closePopUpBet()">&times;</span>
            <h1 id="mechanics">Choose your League</h1>
            <div id="bet-wrapper" class="bet-wrapper">
                <div class="bet-container">
                    <img src="static/images/100-bet.png" onclick="(getBets(100))" alt="">
                </div> 
                <div class="bet-container">
                    <img src="static/images/200-bet.png" onclick="(getBets(200))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/300-bet.png" onclick="(getBets(300))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/400-bet.png" onclick="(getBets(400))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/500-bet.png" onclick="(getBets(500))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/all-in-bet.png" onclick="(getBets('all-in'))" alt="" id="all-in-id">
                </div>
            </div>
            <button id="play-the-game" onclick="closePopUpBet()">Play!</button>
        </div>
    </div>

    <div id="popUp-dice-without-all-in" class="popup-dice">
        <div class="popup-content-dice">
            <span class="close-dice" onclick="closePopUpDice()">&times;</span>
            <h1 id="mechanics">Choose your Color</h1>
            <div id="bet-wrapper-dice" class="bet-wrapper-dice">
                <div class="bet-container-dice">
                    <img src="static/images/dice-01.svg" onclick="(getColorWithOutAllIn('static/images/dice-01.svg'))" alt="">
                </div> 
                <div class="bet-container-dice">
                    <img src="static/images/dice-02.svg" onclick="(getColorWithOutAllIn('static/images/dice-02.svg'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/dice-03.svg" onclick="(getColorWithOutAllIn('static/images/dice-03.svg'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/dice-04.svg" onclick="(getColorWithOutAllIn('static/images/dice-04.svg'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/dice-05.svg" onclick="(getColorWithOutAllIn('static/images/dice-05.svg'))" alt="">
                </div>
                <div class="bet-container-dice">
                    <img src="static/images/dice-06.svg" onclick="(getColorWithOutAllIn('static/images/dice-06.svg'))" alt="">
                </div>
            </div>
            <!-- <button id="play-the-game" onclick="closePopUpBet()">Play!</button> -->
        </div>
    </div>

    <div id="popUp-bet-without-allin" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="closePopUpBet()">&times;</span>
            <h1 id="mechanics">Choose your League</h1>
            <div id="bet-wrapper" class="bet-wrapper">
                <div class="bet-container">
                    <img src="static/images/100-bet.png" onclick="(getbetsWithoutAllIn(100))" alt="">
                </div> 
                <div class="bet-container">
                    <img src="static/images/200-bet.png" onclick="(getbetsWithoutAllIn(200))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/300-bet.png" onclick="(getbetsWithoutAllIn(300))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/400-bet.png" onclick="(getbetsWithoutAllIn(400))" alt="">
                </div>
                <div class="bet-container">
                    <img src="static/images/500-bet.png" onclick="(getbetsWithoutAllIn(500))" alt="">
                </div>
            </div>
            <!-- <button id="play-the-game" onclick="closePopUpBetWithOutAllIn()">Play!</button> -->
        </div>
    </div>
</body>
<script src="static/script.js"></script>
<script>
    window.onload = function() {
            openPopUpGame();
        }
</script>
{% endblock %}