{% extends "base-dashboard.html" %}

{% block title %}- Sic Bo {% endblock %}

{% block body %}
<body class="body-sic">
    <div class="game">
        <div class="container-sic-bo">
          <div id='dice1' class="dice dice-one">
            <div id="dice-one-side-one" class='side one'>
              <img src="static/images/dice-01.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-two" class='side two'>
                <img src="static/images/dice-02.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-three" class='side three'>
                <img src="static/images/dice-03.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-four" class='side four'>
                <img src="static/images/dice-04.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-five" class='side five'>
                <img src="static/images/dice-05.svg" alt="dot-1">
            </div>
            <div id="dice-one-side-six" class='side six'>
                <img src="static/images/dice-06.svg" alt="dot-1">
            </div>
          </div>
       </div>
        <div class="container-sic-bo">
          <div id='dice2' class="dice dice-two">
            <div id="dice-two-side-one" class='side one'>
                <img src="static/images/dice-01.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-two" class='side two'>
                <img src="static/images/dice-02.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-three" class='side three'>
                <img src="static/images/dice-03.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-four" class='side four'>
                <img src="static/images/dice-04.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-five" class='side five'>
                <img src="static/images/dice-05.svg" alt="dot-1">
            </div>
            <div id="dice-two-side-six" class='side six'>
                <img src="static/images/dice-06.svg" alt="dot-1">
            </div>
          </div> 
       </div>
       <div class="container-sic-bo">
        <div id='dice3' class="dice dice-three">
          <div id="dice-three-side-one" class='side one'>
              <img src="static/images/dice-01.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-two" class='side two'>
              <img src="static/images/dice-02.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-three" class='side three'>
              <img src="static/images/dice-03.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-four" class='side four'>
              <img src="static/images/dice-04.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-five" class='side five'>
              <img src="static/images/dice-05.svg" alt="dot-1">
          </div>
          <div id="dice-three-side-six" class='side six'>
              <img src="static/images/dice-06.svg" alt="dot-1">
          </div>
        </div> 
     </div>
       <div id='roll' class='roll-button'>
        <button class="roll-btn-sic-bo" onclick="animateDiceRollSicBo()">Roll dice!</button>
    </div>
      </div> 
      <div id="popUp" class="popup-game">
        <div class="popup-content-game">
            <span class="close-game" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Mechanics <br> <br></h1>
            <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p>
            <button id="play-the-game" onclick="closePopUpGame()">Okay!</button>
        </div>
    </div>
  
    <div id="popUp-bet" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Your bet <br> <br></h1>
            <button id="play-the-game" onclick="closePopUpGame()">Play!</button>
        </div>
    </div>
</body>
<script src="static/script.js"></script>
<script>
    window.onload = function() {
            openPopUpGame();
        }
</script>
{% endblock %}