{% extends "base-dashboard.html" %}

{% block title %}- Slot Machine {% endblock %}

{% block link %}
    <style>
        *{
            margin:0px;
        }
    </style>
{% endblock %}

{% block body %}
<body onload="toggleAudio()" class="body-slot">
    <main>
        <section id="status">WELCOME!</section>
        <section id="Slots">
            <div id="slot1" class="a1"></div>
            <div id="slot2" class="a1"></div>
            <div id="slot3" class="a1"></div>
        </section>
        <section onclick="doSlot()" id="Gira">TAKE A SPIN!</section>
        <section id="options">
            <img src="static/images/audioOn.png" id="audio" class="option" onclick="toggleAudio()" />
        </section>
    </main>
    <section id="info">
        <h3>Come si Gioca?</h3>
        <p>Tenta la tua fortuna premendo il bottone! Il Jolly vale l'elemento mancante per vincere. Tre elementi uguali e vinici! Ma attenzione, non prendere tre Jolly o perderai!</p>
        <h3 class="h3">Licenza</h3>
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" class="a" /></a><br />Quest'opera è distribuita con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribuzione - Non commerciale - Condividi allo stesso modo 4.0 Internazionale</a>.</p>
    </section>
    <div id="popUp" class="popup-game">
        <div class="popup-content-game">
            <span class="close-game" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Mechanics <br> <br></h1>
            <p id="instruction">The Game is very Simple <br> Player only need to click the button and it will roll on, if lose 200 will be deducted. If win 1k will be added <br> <br></p>
            <button id="play-the-game" onclick="closePopUpGame()">Okay!</button>
        </div>
    </div>
  
    <div id="popUp-bet" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Your bet <br> <br></h1>
            <button id="play-the-game" onclick="closePopUpGame()">Play!</button>
        </div>
    </div>
</body>
<script>
    window.onload = function() {
            openPopUpGame();
        }
    var doing = false;
    var spin = [new Audio("static/sounds/spin.mp3"),new Audio("static/sounds/spin.mp3"),new Audio("static/sounds/spin.mp3"),new Audio("static/sounds/spin.mp3"),new Audio("static/sounds/spin.mp3"),new Audio("static/sounds/spin.mp3"),new Audio("static/sounds/spin.mp3")];
    var coin = [new Audio("static/sounds/coin.mp3"),new Audio("static/sounds/coin.mp3"),new Audio("static/sounds/coin.mp3")]
    var win = new Audio("static/sounds/win.mp3");
    var lose = new Audio("static/sounds/lose.mp3");
    var audio = false;
    let status = document.getElementById("status")
    var info = true;
    
    function doSlot(){
        if (doing){return null;}
        doing = true;
        var numChanges = randomInt(1,4)*7
        var numeberSlot1 = numChanges+randomInt(1,7)
        var numeberSlot2 = numChanges+2*7+randomInt(1,7)
        var numeberSlot3 = numChanges+4*7+randomInt(1,7)
    
        var i1 = 0;
        var i2 = 0;
        var i3 = 0;
        var sound = 0
        status.innerHTML = "SPINNING"
        slot1 = setInterval(spin1, 50);
        slot2 = setInterval(spin2, 50);
        slot3 = setInterval(spin3, 50);
        function spin1(){
            i1++;
            if (i1>=numeberSlot1){
                coin[0].play()
                clearInterval(slot1);
                return null;
            }
            slotTile = document.getElementById("slot1");
            if (slotTile.className=="a7"){
                slotTile.className = "a0";
            }
            slotTile.className = "a"+(parseInt(slotTile.className.substring(1))+1)
        }
        function spin2(){
            i2++;
            if (i2>=numeberSlot2){
                coin[1].play()
                clearInterval(slot2);
                return null;
            }
            slotTile = document.getElementById("slot2");
            if (slotTile.className=="a7"){
                slotTile.className = "a0";
            }
            slotTile.className = "a"+(parseInt(slotTile.className.substring(1))+1)
        }
        function spin3(){
            i3++;
            if (i3>=numeberSlot3){
                coin[2].play()
                clearInterval(slot3);
                testWin();
                return null;
            }
            slotTile = document.getElementById("slot3");
            if (slotTile.className=="a7"){
                slotTile.className = "a0";
            }
            sound++;
            if (sound==spin.length){
                sound=0;
            }
            spin[sound].play();
            slotTile.className = "a"+(parseInt(slotTile.className.substring(1))+1)
        }
    }
    
    function testWin(){
        var slot1 = document.getElementById("slot1").className
        var slot2 = document.getElementById("slot2").className
        var slot3 = document.getElementById("slot3").className
    
        if (((slot1 == slot2 && slot2 == slot3) ||
            (slot1 == slot2 && slot3 == "a7") ||
            (slot1 == slot3 && slot2 == "a7") ||
            (slot2 == slot3 && slot1 == "a7") ||
            (slot1 == slot2 && slot1 == "a7") ||
            (slot1 == slot3 && slot1 == "a7") ||
            (slot2 == slot3 && slot2 == "a7") ) && !(slot1 == slot2 && slot2 == slot3 && slot1=="a7")){
            status.innerHTML = "YOU WIN!";
            addBetToBalance(1000);
            setTimeout(() => {
                location.reload();
            }, 2000);
            win.play();
        }else{
            status.innerHTML = "YOU LOSE!"
            deductBetFromBalance(200);
            setTimeout(() => {
                location.reload();
            }, 2000);
            lose.play();
        }
        doing = false;
    }
    
    function toggleAudio(){
        if (!audio){
            audio = !audio;
            for (var x of spin){
                x.volume = 0.5;
            }
            for (var x of coin){
                x.volume = 0.5;
            }
            win.volume = 1.0;
            lose.volume = 1.0;
        }else{
            audio = !audio;
            for (var x of spin){
                x.volume = 0;
            }
            for (var x of coin){
                x.volume = 0;
            }
            win.volume = 0;
            lose.volume = 0;
        }
        document.getElementById("audio").src = "static/images/audio"+(audio?"On":"Off")+".png";
    }
    
    function randomInt(min, max){
        return Math.floor((Math.random() * (max-min+1)) + min);
    }
    </script>
    <script src="static/script.js"></script>
{% endblock %}