{% extends "base-dashboard.html" %}

{% block title %}- Spin the Wheel {% endblock %}

{% block link %}
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap"
    rel="stylesheet"
    />
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            }
    </style>
{% endblock %}

{% block body %}
<body class="">
    <div class="wrapper-spin">
    <div class="container-spin-the-wheel">
        <canvas id="wheel"></canvas>
        <button id="spin-btn">Spin</button>
        <img src="static/images/spinner-arrow-.svg" alt="spinner-arrow" class="img-spin"/>
    </div>
    <div id="final-value">
        <p>Click On The Spin Button To Start</p>
    </div>
    </div>
    <div id="popUp" class="popup-game">
        <div class="popup-content-game">
            <span class="close-game" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Mechanics <br> <br></h1>
            <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p>
            <button id="play-the-game" onclick="closePopUpGame()">Okay!</button>
        </div>
    </div>
  
    <div id="popUp-bet" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Your bet <br> <br></h1>
            <button id="play-the-game" onclick="closePopUpGame()">Play!</button>
        </div>
    </div>
    <script src="static/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
    <script>
        window.onload = function() {
            openPopUpGame();
        }
        const wheel = document.getElementById("wheel");
        const spinBtn = document.getElementById("spin-btn");
        const finalValue = document.getElementById("final-value");
        const rotationValues = [
        { minDegree: 0, maxDegree: 30, value: 2},
        { minDegree: 31, maxDegree: 90, value: 1},
        { minDegree: 91, maxDegree: 150, value: 6},
        { minDegree: 151, maxDegree: 210, value: 5},
        { minDegree: 211, maxDegree: 270, value: 4},
        { minDegree: 271, maxDegree: 330, value: 3},
        { minDegree: 331, maxDegree: 360, value: 2}
        ];
       
        const data = [16, 16, 16, 16, 16, 16];
       
        var pieColors = [
        "#8b35bc",
        "#b163da",
        "#8b35bc",
        "#b163da",
        "#8b35bc",
        "#b163da",
        ];
        let myChart = new Chart(wheel, {
        plugins: [ChartDataLabels],
        type: "pie",
        data: {
            labels: ["Sorry!", "$1", "Jackpot", "$100", "Bad", "Try Again"],
            datasets: [
            {
                backgroundColor: pieColors,
                data: data,
            },
            ],
        },
        options: {
            responsive: true,
            animation: { duration: 0 },
            plugins: {
            tooltip: false,
            legend: {
                display: false,
            },
            datalabels: {
                color: "#ffffff",
                formatter: (_, context) => context.chart.data.labels[context.dataIndex],
                font: { size: 24 },
            },
            },
        },
        });
        const valueGenerator = (angleValue) => {
        for (let i of rotationValues) {
            if (angleValue >= i.minDegree && angleValue <= i.maxDegree) {
            finalValue.innerHTML = `<p>Value: ${i.value}</p>`;
            if (i.value == 2) {
                addBetToBalance(1);
            } else if (i.value == 3){
                addBetToBalance(10000);
            } else if(i.value == 4){
                addBetToBalance(100);
            } else if(i.value == 5) {
                deductBetFromBalance(100);
            }
            spinBtn.disabled = false;
            break;
            }
        }
        };

        let count = 0;
        let resultValue = 101;
        spinBtn.addEventListener("click", () => {
        spinBtn.disabled = true;
        finalValue.innerHTML = `<p>Good Luck!</p>`;
        let randomDegree = Math.floor(Math.random() * (355 - 0 + 1) + 0);
        let rotationInterval = window.setInterval(() => {
            myChart.options.rotation = myChart.options.rotation + resultValue;
            myChart.update();
            if (myChart.options.rotation >= 360) {
            count += 1;
            resultValue -= 5;
            myChart.options.rotation = 0;
            } else if (count > 15 && myChart.options.rotation == randomDegree) {
            valueGenerator(randomDegree);
            clearInterval(rotationInterval);
            count = 0;
            resultValue = 101;
            }
        }, 10);
        });

    </script>
</body>

{% endblock %}