{% extends "base-dashboard.html" %}

{% block title %}- Whack a Mole {% endblock %}

{% block body %}
<body class="body-whack">
    <h1>Whac a Mole</h1>
    <h2 id="score">0</h2>
    <div id="board-whack">
    </div>
    <div id="popUp" class="popup-game">
        <div class="popup-content-game">
            <span class="close-game" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Mechanics <br> <br></h1>
            <p id="instruction">The two players will be given 1 card each. <br> Your play is to guess whether your card will be higher or lower than the dealer <br> <br></p>
            <button id="play-the-game" onclick="closePopUpGame()">Okay!</button>
        </div>
    </div>
  
    <div id="popUp-bet" class="popup-bet">
        <div class="popup-content-bet">
            <span class="close-bet" onclick="closePopUpGame()">&times;</span>
            <h1 id="mechanics">Your bet <br> <br></h1>
            <button id="play-the-game" onclick="closePopUpGame()">Play!</button>
        </div>
    </div>
</body>
<script>
    let currMoleTile;
    let currPlantTile;
    let score = 0;
    let gameOver = false;

    window.onload = function() {
    setGame();
    openPopUpGame();
    }

    function setGame() {
    for (let i = 0; i < 9; i++) { 
        let tile = document.createElement("div");
        tile.id = i.toString();
        tile.addEventListener("click", selectTile);
        document.getElementById("board-whack").appendChild(tile);
    }
    setInterval(setMole, 1000); 
    setInterval(setPlant, 2000); 
    }

    function getRandomTile() {
    
    let num = Math.floor(Math.random() * 9);
    return num.toString();
    }

    function setMole() {
    if (gameOver) {
        return;
    }
    if (currMoleTile) {
        currMoleTile.innerHTML = "";
    }
    let mole = document.createElement("img");
    mole.src = "static/images/monty-mole.png";

    let num = getRandomTile();
    if (currPlantTile && currPlantTile.id == num) {
        return;
    }
    currMoleTile = document.getElementById(num);
    currMoleTile.appendChild(mole);
    }

    function setPlant() {
    if (gameOver) {
        return;
    }
    if (currPlantTile) {
        currPlantTile.innerHTML = "";
    }
    let plant = document.createElement("img");
    plant.src = "static/images/piranha-plant.png";

    let num = getRandomTile();
    if (currMoleTile && currMoleTile.id == num) {
        return;
    }
    currPlantTile = document.getElementById(num);
    currPlantTile.appendChild(plant);
    }

    function selectTile() {
    if (gameOver) {
        return;
    }
    if (this == currMoleTile) {
        score += 10;
        document.getElementById("score").innerText = score.toString(); 
    }
    else if (this == currPlantTile) {
        document.getElementById("score").innerText = "GAME OVER: " + score.toString(); 
        gameOver = true;
    }
    }
</script>
<script src="static/script.js"></script>
{% endblock %}