<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortune Casino {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
    {% block paypal %}

    {% endblock %}

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Montserrat";
            /* text-align: center; */
        }
    </style>

</head>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="static/images/fortune's-chip.png" alt="Logo" onclick="goTo('/dashboard')">
            </div>
            <nav>
                <ul id="menuItems">
                    <li><a onclick="goTo('/dashboard')">HOME</a></li>
                    <li><a onclick="goTo('/promotion')">PROMOTIONS</a></li>
                    <li><a onclick="goTo('/lottery')">LOTTERY</a></li>
                    <li><a onclick="goTo('/coins')">BUY COINS</a></li>
                    <li><a onclick="goTo('/games')">GAMES</a></li>
                    <div class="user-container">
                        <div class="coins-container" onclick="goTo('/coins')">
                            <img src="static/images/chip.png" alt="Chip">
                            <h3>$ <span id="balance"> {{ user['balance'] }} </span></h3>
                        </div>
                        <div class="profile-container">
                            <h1><span>{{ user['first_name'] }}</span></h1>
                            <div class="dropdown-content">
                                <a href="#">View Profile</a>
                                <a href="#" onclick="goTo('/logout')">Logout</a>
                            </div>
                        </div>
                        
                    </div>
                </ul>
                
            </nav>
        </div>
    </header>
    <script src="static/script.js"></script>

    {% block body %}
    
    {% endblock %}
</html>