<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Fortune Casino</title>
    <link rel="stylesheet" href="static/style.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            list-style: none;
            text-decoration: none;
        }

        section > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            height: calc(100vh - 60px); 
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar-landing">
            <div class="logo-landing">
                <img src="static/images/Fortune's-Casino-Logo.png" alt="Logo">
            </div>
            <nav class="nav-landing">
                <ul id="menuItems-landing">
                    <li><a href="/">Home</a></li>
                    <li><a href="#promos">Promos</a></li>
                    <li><a href="#coins-section">Coins</a></li>
                    <li><a href="#games-section">Games</a></li>
                    <li><a href="/sign-in">Sign-in</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="home">
        <div class="home-box">
            <h1><span>Fortune's Casino,<br>Where every bet wins!</span></h1>
            <button class="home-btn" onclick="window.location.href='/sign-in'">Register Now</button>
        </div>
    </section>

    <section id="promos">
        <div class="deal-container">
            <div class="deal1">
                <div class="image">
                    <img src="static/images/slot-machine-promo.png" alt="Deal 1">
                </div>
                <div class="deals">
                    <h1>₱20.00</h1>
                    <h3>Win up to ₱100.00</h3>
                    <h4>Bonus</h4>
                </div>
                <div class="payout">
                    <h1>PAYOUT</h1>
                    <h3>0-2 DAYS</h3>
                </div>
                <div class="win-rate">
                    <h1>WIN RATE</h1>
                    <h3>97.3%</h3>
                </div>
                <div class="deal-btn">
                    <a href="/sign-in">Play Now</a>
                </div>
            </div>
            <div class="deal2">
                <div class="image">
                    <img src="static/images/blackjack-deal.png" alt="Deal 1">
                </div>
                <div class="deals">
                    <h1>₱20.00</h1>
                    <h3>Win up to ₱100.00</h3>
                    <h4>Bonus</h4>
                </div>
                <div class="payout">
                    <h1>PAYOUT</h1>
                    <h3>0-2 DAYS</h3>
                </div>
                <div class="win-rate">
                    <h1>WIN RATE</h1>
                    <h3>87.3%</h3>
                </div>
                <div class="deal-btn">
                    <a href="/sign-in">Play Now</a>
                </div>
            </div>
            <div class="deal3">
                <div class="image">
                    <img src="static/images/roll-em-die-promo.png" alt="Deal 1">
                </div>
                <div class="deals">
                    <h1>₱20.00</h1>
                    <h3>Win up to ₱100.00</h3>
                    <h4>Bonus</h4>
                </div>
                <div class="payout">
                    <h1>PAYOUT</h1>
                    <h3>0-2 DAYS</h3>
                </div>
                <div class="win-rate">
                    <h1>WIN RATE</h1>
                    <h3>99.3%</h3>
                </div>
                <div class="deal-btn">
                    <a href="/sign-in">Play Now</a>
                </div>
            </div>
        </div>
    </section>

    <section id="coins-section">
        <h1>Convert Currency to Chips</h1>
        <div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/10.jpg" alt=""><div class="label">₱10.00</div></a></div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/20.jpg" alt=""><div class="label">₱20.00</div></a></div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/50.jpg" alt=""><div class="label">₱48.00</div></a></div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/100.jpg" alt=""><div class="label">₱95.00</div></a></div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/200.jpg" alt=""><div class="label">₱190.00</div></a></div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/500.jpg" alt=""><div class="label">₱480.00</div></a></div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/1k.jpg" alt=""><div class="label">₱950.00</div></a></div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/2k.jpg" alt=""><div class="label">₱1,930.00</div></a></div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/5k.jpg" alt=""><div class="label">₱4,800.00</div></a></div>
            <div class="container-coins-games"><a href="/sign-in"><img src="static/images/10k.jpg" alt=""><div class="label">₱9,600.00</div></a></div>
        </div>
    </section>

    <section id="games-section">
        <h1>Games</h1>
        <div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/SpinTheWheel.webp" alt="Spin The Wheel Image"><div class="label">Spin The Wheel</div></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/SlotMachine.webp" alt="Slot Machine Image"><div class="label">Slot Machine</div></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/WhackAMole.webp" alt="Whack A Mole Image"><div class="label">Whack A Mole</div></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/SicBo.jpg" alt="Sic-Bo Image"><div class="label">Sic Bo</div></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/RollEmDie.jpg" alt="Roll em' Die Image"><div class="label">Roll 'Em DIe</div></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/ColorGame.png" alt="Color Game Image"><div class="label">Color Game</div></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/HigherOrLower.jpg" alt="Higher or Lower Image"><div class="label">Higher Or Lower</div></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/BeatTheDealer.jpg" alt="Beat the Dealer Image"><div class="label">Beat The Dealer</div></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/Lucky21.png" alt="/Blackjack/Lucky 21 Image"><div class="label">Lucky 21</div></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/ScratchCard.webp" alt="Scratch Card Image"><div class="label">Scratch Card</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/CoinFLip.webp" alt="Coin Flip Image"><div class="label">Coin Flip</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/MemoryGame.webp" alt="Memory game Image"><div class="label">Memory Game</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/HungerMaze.webp" alt="Hunger Maze Image"><div class="label">Hunger Maze</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/MineSweeper.webp" alt="Minesweeper Image"><div class="label">Minesweeper</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/HangMan.webp" alt="Hang Man Image"><div class="label">Hang The Dealer</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/Bingo.webp" alt="Bingo Image"><div class="label">Bingo</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/GuessTheNumber.webp" alt="Guess The Number Image"><div class="label">Guess The Number</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/PingPong.webp" alt="Ping-Pong Image"><div class="label">Ping-Pong</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/BrickBreaker.webp" alt="Brick Breaker Image"><div class="label">Brick Breaker</div></a></a></div>
            <div class="container-coins-games"> <a href="/sign-in"><img src="static/images/RockPaperScissors.webp" alt="Rock Paper Scissors Image"><div class="label">Rock Paper Scissors</div></a></a></div>
        </div>
    </section> 
</body>
</html>