{% extends "base-dashboard.html" %}

{% block title %}- Coins{% endblock %}

{% block paypal %}<script src="https://www.paypal.com/sdk/js?client-id=AaczSdgM6Pj831BtvWB6NOxlohFK8msrRaDOfCWecSXS-Bc3xt93vyvrGqQd7HTuchz7OxbUd9z88HsD"></script>{% endblock %}


{% block body %}
<section class="buy-coins-section">
    <div class="coins-texts">
        <img src="static/images/casino-ghorl.png" alt="">
        
    </div>
    <div class="coins-wrapper">
        <div class="coins-box"><a href="#" onclick="openPopup('20','20-buy-coins')"><img src="static/images/20-buy-coins.png" alt=""><div class="label">$20.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('30','30')"><img src="static/images/30.png" alt=""><div class="label">$30.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('40','40')"><img src="static/images/40.png" alt=""><div class="label">$40.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('60','60')"><img src="static/images/60.png" alt=""><div class="label">$60.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('100','100-buy-coins')"><img src="static/images/100-buy-coins.png" alt=""><div class="label">$100.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('200','200-buy-coins')"><img src="static/images/200-buy-coins.png" alt=""><div class="label">$200.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('300','300-buy-coins')"><img src="static/images/300-buy-coins.png" alt=""><div class="label">$300.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('400','400-buy-coins')"><img src="static/images/400-buy-coins.png" alt=""><div class="label">$400.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('700','700-buy-coins')"><img src="static/images/700-buy-coins.png" alt=""><div class="label">$700.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('800','800-buy-coins')"><img src="static/images/800-buy-coins.png" alt=""><div class="label">$800.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('900','900-buy-coins')"><img src="static/images/900-buy-coins.png" alt=""><div class="label">$900.00</div></a></div>
        <div class="coins-box"><a href="#" onclick="openPopup('1000','1k-buy-coins')"><img src="static/images/1k-buy-coins.png" alt=""><div class="label">$1,000.00</div></a></div>
    </div>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <img src="" alt="" id="pop-up-img">
            <div id="amount"></div>
            <div id="paypal"></div>
        </div>
    </div>
</section>
<script src="static/script.js"></script>
{% endblock %}