{% extends "dashboard/base-dashboard.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<section class="dashboard-section">
    <div class="dashboard-menu">

    </div>
    <div class="dashboard-events">
        <div class="event-board">
            
        </div>
        <div class="dashboard-winnings">

        </div>
    </div>
    <h1 class="h1-game">Game Destinations</h1>
    <div class="dashboard-games">
        <img src="static/images/1k.jpg" alt="" width="160px">
        <img src="static/images/100-buy-coins.png" alt="" width="160px">
        <img src="static/images/100-buy-coins.png" alt="" width="160px">
        <img src="static/images/100-buy-coins.png" alt="" width="160px">
        <img src="static/images/100-buy-coins.png" alt="" width="160px">
        <img src="static/images/100-buy-coins.png" alt="" width="160px">
        
    </div>
</section>
{% endblock %}